In [1]:
from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession
conf = SparkConf().setAppName('myApp') \
.setMaster('local')
sc = SparkContext(conf=conf)
spark = SparkSession(sc)

In [2]:
from pyspark.sql.functions import *
import pandas as pd
import math

In [3]:
df_application = spark.read.format('csv').options(header=True,inferSchema=True).load('application_record.csv')
df_application.show(30, truncate=50)
df_application.printSchema()

+-------+-----------+------------+---------------+------------+----------------+--------------------+-----------------------------+--------------------+-----------------+----------+-------------+----------+---------------+----------+----------+---------------+---------------+
|     ID|CODE_GENDER|FLAG_OWN_CAR|FLAG_OWN_REALTY|CNT_CHILDREN|AMT_INCOME_TOTAL|    NAME_INCOME_TYPE|          NAME_EDUCATION_TYPE|  NAME_FAMILY_STATUS|NAME_HOUSING_TYPE|DAYS_BIRTH|DAYS_EMPLOYED|FLAG_MOBIL|FLAG_WORK_PHONE|FLAG_PHONE|FLAG_EMAIL|OCCUPATION_TYPE|CNT_FAM_MEMBERS|
+-------+-----------+------------+---------------+------------+----------------+--------------------+-----------------------------+--------------------+-----------------+----------+-------------+----------+---------------+----------+----------+---------------+---------------+
|5008804|          M|           Y|              Y|           0|        427500.0|             Working|             Higher education|      Civil marriage| Rented apartment|    -12005|        -4542|         1|              1|         0|         0|           NULL|            2.0|
|5008805|          M|           Y|              Y|           0|        427500.0|             Working|             Higher education|      Civil marriage| Rented apartment|    -12005|        -4542|         1|              1|         0|         0|           NULL|            2.0|
|5008806|          M|           Y|              Y|           0|        112500.0|             Working|Secondary / secondary special|             Married|House / apartment|    -21474|        -1134|         1|              0|         0|         0| Security staff|            2.0|
|5008808|          F|           N|              Y|           0|        270000.0|Commercial associate|Secondary / secondary special|Single / not married|House / apartment|    -19110|        -3051|         1|              0|         1|         1|    Sales staff|            1.0|
|5008809|          F|           N|              Y|           0|        270000.0|Commercial associate|Secondary / secondary special|Single / not married|House / apartment|    -19110|        -3051|         1|              0|         1|         1|    Sales staff|            1.0|
|5008810|          F|           N|              Y|           0|        270000.0|Commercial associate|Secondary / secondary special|Single / not married|House / apartment|    -19110|        -3051|         1|              0|         1|         1|    Sales staff|            1.0|
|5008811|          F|           N|              Y|           0|        270000.0|Commercial associate|Secondary / secondary special|Single / not married|House / apartment|    -19110|        -3051|         1|              0|         1|         1|    Sales staff|            1.0|
|5008812|          F|           N|              Y|           0|        283500.0|           Pensioner|             Higher education|           Separated|House / apartment|    -22464|       365243|         1|              0|         0|         0|           NULL|            1.0|
|5008813|          F|           N|              Y|           0|        283500.0|           Pensioner|             Higher education|           Separated|House / apartment|    -22464|       365243|         1|              0|         0|         0|           NULL|            1.0|
|5008814|          F|           N|              Y|           0|        283500.0|           Pensioner|             Higher education|           Separated|House / apartment|    -22464|       365243|         1|              0|         0|         0|           NULL|            1.0|
|5008815|          M|           Y|              Y|           0|        270000.0|             Working|             Higher education|             Married|House / apartment|    -16872|         -769|         1|              1|         1|         1|    Accountants|            2.0|
|5112956|          M|           Y|              Y|           0|        270000.0|             Working|             Higher education|             Married|House / apartment|    -16872|         -769|         1|              1|         1|         1|    Accountants|            2.0|
|6153651|          M|           Y|              Y|           0|        270000.0|             Working|             Higher education|             Married|House / apartment|    -16872|         -769|         1|              1|         1|         1|    Accountants|            2.0|
|5008819|          M|           Y|              Y|           0|        135000.0|Commercial associate|Secondary / secondary special|             Married|House / apartment|    -17778|        -1194|         1|              0|         0|         0|       Laborers|            2.0|
|5008820|          M|           Y|              Y|           0|        135000.0|Commercial associate|Secondary / secondary special|             Married|House / apartment|    -17778|        -1194|         1|              0|         0|         0|       Laborers|            2.0|
|5008821|          M|           Y|              Y|           0|        135000.0|Commercial associate|Secondary / secondary special|             Married|House / apartment|    -17778|        -1194|         1|              0|         0|         0|       Laborers|            2.0|
|5008822|          M|           Y|              Y|           0|        135000.0|Commercial associate|Secondary / secondary special|             Married|House / apartment|    -17778|        -1194|         1|              0|         0|         0|       Laborers|            2.0|
|5008823|          M|           Y|              Y|           0|        135000.0|Commercial associate|Secondary / secondary special|             Married|House / apartment|    -17778|        -1194|         1|              0|         0|         0|       Laborers|            2.0|
|5008824|          M|           Y|              Y|           0|        135000.0|Commercial associate|Secondary / secondary special|             Married|House / apartment|    -17778|        -1194|         1|              0|         0|         0|       Laborers|            2.0|
|5008825|          F|           Y|              N|           0|        130500.0|             Working|            Incomplete higher|             Married|House / apartment|    -10669|        -1103|         1|              0|         0|         0|    Accountants|            2.0|
|5008826|          F|           Y|              N|           0|        130500.0|             Working|            Incomplete higher|             Married|House / apartment|    -10669|        -1103|         1|              0|         0|         0|    Accountants|            2.0|
|5008830|          F|           N|              Y|           0|        157500.0|             Working|Secondary / secondary special|             Married|House / apartment|    -10031|        -1469|         1|              0|         1|         0|       Laborers|            2.0|
|5008831|          F|           N|              Y|           0|        157500.0|             Working|Secondary / secondary special|             Married|House / apartment|    -10031|        -1469|         1|              0|         1|         0|       Laborers|            2.0|
|5008832|          F|           N|              Y|           0|        157500.0|             Working|Secondary / secondary special|             Married|House / apartment|    -10031|        -1469|         1|              0|         1|         0|       Laborers|            2.0|
|5008834|          F|           N|              Y|           1|        112500.0|             Working|Secondary / secondary special|Single / not married|House / apartment|    -10968|        -1620|         1|              0|         0|         0|           NULL|            2.0|
|5008835|          F|           N|              Y|           1|        112500.0|             Working|Secondary / secondary special|Single / not married|House / apartment|    -10968|        -1620|         1|              0|         0|         0|           NULL|            2.0|
|6153712|          F|           N|              Y|           1|        112500.0|             Working|Secondary / secondary special|Single / not married|House / apartment|    -10968|        -1620|         1|              0|         0|         0|           NULL|            2.0|
|5008836|          M|           Y|              Y|           3|        270000.0|             Working|Secondary / secondary special|             Married|House / apartment|    -12689|        -1163|         1|              0|         0|         0|       Laborers|            5.0|
|5008837|          M|           Y|              Y|           3|        270000.0|             Working|Secondary / secondary special|             Married|House / apartment|    -12689|        -1163|         1|              0|         0|         0|       Laborers|            5.0|
|5008838|          M|           N|              Y|           1|        405000.0|Commercial associate|             Higher education|             Married|House / apartment|    -11842|        -2016|         1|              0|         0|         0|       Managers|            3.0|
+-------+-----------+------------+---------------+------------+----------------+--------------------+-----------------------------+--------------------+-----------------+----------+-------------+----------+---------------+----------+----------+---------------+---------------+
only showing top 30 rows

root
 |-- ID: integer (nullable = true)
 |-- CODE_GENDER: string (nullable = true)
 |-- FLAG_OWN_CAR: string (nullable = true)
 |-- FLAG_OWN_REALTY: string (nullable = true)
 |-- CNT_CHILDREN: integer (nullable = true)
 |-- AMT_INCOME_TOTAL: double (nullable = true)
 |-- NAME_INCOME_TYPE: string (nullable = true)
 |-- NAME_EDUCATION_TYPE: string (nullable = true)
 |-- NAME_FAMILY_STATUS: string (nullable = true)
 |-- NAME_HOUSING_TYPE: string (nullable = true)
 |-- DAYS_BIRTH: integer (nullable = true)
 |-- DAYS_EMPLOYED: integer (nullable = true)
 |-- FLAG_MOBIL: integer (nullable = true)
 |-- FLAG_WORK_PHONE: integer (nullable = true)
 |-- FLAG_PHONE: integer (nullable = true)
 |-- FLAG_EMAIL: integer (nullable = true)
 |-- OCCUPATION_TYPE: string (nullable = true)
 |-- CNT_FAM_MEMBERS: double (nullable = true)

In [4]:
# Check for null etc.
df_application.select([count((when(isnan(c) | isnull(c), 1))).alias(c) for c in df_application.columns]).show()
# No null in data so all data is valid

+---+-----------+------------+---------------+------------+----------------+----------------+-------------------+------------------+-----------------+----------+-------------+----------+---------------+----------+----------+---------------+---------------+
| ID|CODE_GENDER|FLAG_OWN_CAR|FLAG_OWN_REALTY|CNT_CHILDREN|AMT_INCOME_TOTAL|NAME_INCOME_TYPE|NAME_EDUCATION_TYPE|NAME_FAMILY_STATUS|NAME_HOUSING_TYPE|DAYS_BIRTH|DAYS_EMPLOYED|FLAG_MOBIL|FLAG_WORK_PHONE|FLAG_PHONE|FLAG_EMAIL|OCCUPATION_TYPE|CNT_FAM_MEMBERS|
+---+-----------+------------+---------------+------------+----------------+----------------+-------------------+------------------+-----------------+----------+-------------+----------+---------------+----------+----------+---------------+---------------+
|  0|          0|           0|              0|           0|               0|               0|                  0|                 0|                0|         0|            0|         0|              0|         0|         0|         134203|              0|
+---+-----------+------------+---------------+------------+----------------+----------------+-------------------+------------------+-----------------+----------+-------------+----------+---------------+----------+----------+---------------+---------------+

In [5]:
# After checking the flag_mobil is not important because the data is only 1 and no other variation. so in the cleaned data not getting the flag mobil
df_app_cleaned = df_application.select(['id','code_gender','flag_own_car','flag_own_realty','cnt_children','amt_income_total',
                                        'name_income_type','name_education_type','name_family_status','name_housing_type','days_birth',
                                        'days_employed','flag_work_phone','flag_phone','flag_email','occupation_type','cnt_fam_members'])

# AND the value is always 0 an 1 as the boolean so we want to make our data uniform so changing the Y as 1 and N as 0, F as 1 and M as 0
df_app_cleaned = df_app_cleaned.withColumn('code_gender', when(df_app_cleaned.code_gender == 'F',1).otherwise(0))
df_app_cleaned = df_app_cleaned.withColumn('flag_own_car', when(df_app_cleaned.flag_own_car == 'Y',1).otherwise(0))
df_app_cleaned = df_app_cleaned.withColumn('flag_own_realty', when(df_app_cleaned.flag_own_car == 'Y',1).otherwise(0))

# More data cleaning cnt_fam_members should be integer because there shouldn't be fam members that is half or less than 1
df_app_cleaned = df_app_cleaned.withColumn('cnt_fam_members', col('cnt_fam_members').cast('Integer'))

df_app_cleaned.show()

+-------+-----------+------------+---------------+------------+----------------+--------------------+--------------------+--------------------+-----------------+----------+-------------+---------------+----------+----------+---------------+---------------+
|     id|code_gender|flag_own_car|flag_own_realty|cnt_children|amt_income_total|    name_income_type| name_education_type|  name_family_status|name_housing_type|days_birth|days_employed|flag_work_phone|flag_phone|flag_email|occupation_type|cnt_fam_members|
+-------+-----------+------------+---------------+------------+----------------+--------------------+--------------------+--------------------+-----------------+----------+-------------+---------------+----------+----------+---------------+---------------+
|5008804|          0|           1|              0|           0|        427500.0|             Working|    Higher education|      Civil marriage| Rented apartment|    -12005|        -4542|              1|         0|         0|           NULL|              2|
|5008805|          0|           1|              0|           0|        427500.0|             Working|    Higher education|      Civil marriage| Rented apartment|    -12005|        -4542|              1|         0|         0|           NULL|              2|
|5008806|          0|           1|              0|           0|        112500.0|             Working|Secondary / secon...|             Married|House / apartment|    -21474|        -1134|              0|         0|         0| Security staff|              2|
|5008808|          1|           0|              0|           0|        270000.0|Commercial associate|Secondary / secon...|Single / not married|House / apartment|    -19110|        -3051|              0|         1|         1|    Sales staff|              1|
|5008809|          1|           0|              0|           0|        270000.0|Commercial associate|Secondary / secon...|Single / not married|House / apartment|    -19110|        -3051|              0|         1|         1|    Sales staff|              1|
|5008810|          1|           0|              0|           0|        270000.0|Commercial associate|Secondary / secon...|Single / not married|House / apartment|    -19110|        -3051|              0|         1|         1|    Sales staff|              1|
|5008811|          1|           0|              0|           0|        270000.0|Commercial associate|Secondary / secon...|Single / not married|House / apartment|    -19110|        -3051|              0|         1|         1|    Sales staff|              1|
|5008812|          1|           0|              0|           0|        283500.0|           Pensioner|    Higher education|           Separated|House / apartment|    -22464|       365243|              0|         0|         0|           NULL|              1|
|5008813|          1|           0|              0|           0|        283500.0|           Pensioner|    Higher education|           Separated|House / apartment|    -22464|       365243|              0|         0|         0|           NULL|              1|
|5008814|          1|           0|              0|           0|        283500.0|           Pensioner|    Higher education|           Separated|House / apartment|    -22464|       365243|              0|         0|         0|           NULL|              1|
|5008815|          0|           1|              0|           0|        270000.0|             Working|    Higher education|             Married|House / apartment|    -16872|         -769|              1|         1|         1|    Accountants|              2|
|5112956|          0|           1|              0|           0|        270000.0|             Working|    Higher education|             Married|House / apartment|    -16872|         -769|              1|         1|         1|    Accountants|              2|
|6153651|          0|           1|              0|           0|        270000.0|             Working|    Higher education|             Married|House / apartment|    -16872|         -769|              1|         1|         1|    Accountants|              2|
|5008819|          0|           1|              0|           0|        135000.0|Commercial associate|Secondary / secon...|             Married|House / apartment|    -17778|        -1194|              0|         0|         0|       Laborers|              2|
|5008820|          0|           1|              0|           0|        135000.0|Commercial associate|Secondary / secon...|             Married|House / apartment|    -17778|        -1194|              0|         0|         0|       Laborers|              2|
|5008821|          0|           1|              0|           0|        135000.0|Commercial associate|Secondary / secon...|             Married|House / apartment|    -17778|        -1194|              0|         0|         0|       Laborers|              2|
|5008822|          0|           1|              0|           0|        135000.0|Commercial associate|Secondary / secon...|             Married|House / apartment|    -17778|        -1194|              0|         0|         0|       Laborers|              2|
|5008823|          0|           1|              0|           0|        135000.0|Commercial associate|Secondary / secon...|             Married|House / apartment|    -17778|        -1194|              0|         0|         0|       Laborers|              2|
|5008824|          0|           1|              0|           0|        135000.0|Commercial associate|Secondary / secon...|             Married|House / apartment|    -17778|        -1194|              0|         0|         0|       Laborers|              2|
|5008825|          1|           1|              0|           0|        130500.0|             Working|   Incomplete higher|             Married|House / apartment|    -10669|        -1103|              0|         0|         0|    Accountants|              2|
+-------+-----------+------------+---------------+------------+----------------+--------------------+--------------------+--------------------+-----------------+----------+-------------+---------------+----------+----------+---------------+---------------+
only showing top 20 rows

In [6]:
# Changing the days birth into age Integer so that it will be classification into its correspondence age
df_app_cleaned = df_app_cleaned.withColumn('age', floor(col('days_birth')/365.25) * -1)

# Check value because age should not be negative or even > 100
df_app_cleaned.select('age').where('age < 0 or age > 100').show()

# Changing the days birth into age Integer so that it will be classification into its correspondence age
df_app_cleaned = df_app_cleaned.withColumn('employed', floor(col('days_employed')/365.25) * -1)

# Check value because age should not be negative or even > 100 as well as the occupation
df_app_cleaned.select(['name_income_type','occupation_type','employed']).where('employed < 0 or employed > 100').distinct().show()

+---+
|age|
+---+
+---+

+----------------+---------------+--------+
|name_income_type|occupation_type|employed|
+----------------+---------------+--------+
|       Pensioner|           NULL|    -999|
+----------------+---------------+--------+

In [7]:
# because the data is said pensioner than it is possible that the employed is negative but for calculation sake it is better to make it into 0
df_app_cleaned = df_app_cleaned.withColumn('employed', when(df_app_cleaned.employed < 0,0).otherwise(df_app_cleaned.employed))

df_app_cleaned.show()

+-------+-----------+------------+---------------+------------+----------------+--------------------+--------------------+--------------------+-----------------+----------+-------------+---------------+----------+----------+---------------+---------------+---+--------+
|     id|code_gender|flag_own_car|flag_own_realty|cnt_children|amt_income_total|    name_income_type| name_education_type|  name_family_status|name_housing_type|days_birth|days_employed|flag_work_phone|flag_phone|flag_email|occupation_type|cnt_fam_members|age|employed|
+-------+-----------+------------+---------------+------------+----------------+--------------------+--------------------+--------------------+-----------------+----------+-------------+---------------+----------+----------+---------------+---------------+---+--------+
|5008804|          0|           1|              0|           0|        427500.0|             Working|    Higher education|      Civil marriage| Rented apartment|    -12005|        -4542|              1|         0|         0|           NULL|              2| 33|      13|
|5008805|          0|           1|              0|           0|        427500.0|             Working|    Higher education|      Civil marriage| Rented apartment|    -12005|        -4542|              1|         0|         0|           NULL|              2| 33|      13|
|5008806|          0|           1|              0|           0|        112500.0|             Working|Secondary / secon...|             Married|House / apartment|    -21474|        -1134|              0|         0|         0| Security staff|              2| 59|       4|
|5008808|          1|           0|              0|           0|        270000.0|Commercial associate|Secondary / secon...|Single / not married|House / apartment|    -19110|        -3051|              0|         1|         1|    Sales staff|              1| 53|       9|
|5008809|          1|           0|              0|           0|        270000.0|Commercial associate|Secondary / secon...|Single / not married|House / apartment|    -19110|        -3051|              0|         1|         1|    Sales staff|              1| 53|       9|
|5008810|          1|           0|              0|           0|        270000.0|Commercial associate|Secondary / secon...|Single / not married|House / apartment|    -19110|        -3051|              0|         1|         1|    Sales staff|              1| 53|       9|
|5008811|          1|           0|              0|           0|        270000.0|Commercial associate|Secondary / secon...|Single / not married|House / apartment|    -19110|        -3051|              0|         1|         1|    Sales staff|              1| 53|       9|
|5008812|          1|           0|              0|           0|        283500.0|           Pensioner|    Higher education|           Separated|House / apartment|    -22464|       365243|              0|         0|         0|           NULL|              1| 62|       0|
|5008813|          1|           0|              0|           0|        283500.0|           Pensioner|    Higher education|           Separated|House / apartment|    -22464|       365243|              0|         0|         0|           NULL|              1| 62|       0|
|5008814|          1|           0|              0|           0|        283500.0|           Pensioner|    Higher education|           Separated|House / apartment|    -22464|       365243|              0|         0|         0|           NULL|              1| 62|       0|
|5008815|          0|           1|              0|           0|        270000.0|             Working|    Higher education|             Married|House / apartment|    -16872|         -769|              1|         1|         1|    Accountants|              2| 47|       3|
|5112956|          0|           1|              0|           0|        270000.0|             Working|    Higher education|             Married|House / apartment|    -16872|         -769|              1|         1|         1|    Accountants|              2| 47|       3|
|6153651|          0|           1|              0|           0|        270000.0|             Working|    Higher education|             Married|House / apartment|    -16872|         -769|              1|         1|         1|    Accountants|              2| 47|       3|
|5008819|          0|           1|              0|           0|        135000.0|Commercial associate|Secondary / secon...|             Married|House / apartment|    -17778|        -1194|              0|         0|         0|       Laborers|              2| 49|       4|
|5008820|          0|           1|              0|           0|        135000.0|Commercial associate|Secondary / secon...|             Married|House / apartment|    -17778|        -1194|              0|         0|         0|       Laborers|              2| 49|       4|
|5008821|          0|           1|              0|           0|        135000.0|Commercial associate|Secondary / secon...|             Married|House / apartment|    -17778|        -1194|              0|         0|         0|       Laborers|              2| 49|       4|
|5008822|          0|           1|              0|           0|        135000.0|Commercial associate|Secondary / secon...|             Married|House / apartment|    -17778|        -1194|              0|         0|         0|       Laborers|              2| 49|       4|
|5008823|          0|           1|              0|           0|        135000.0|Commercial associate|Secondary / secon...|             Married|House / apartment|    -17778|        -1194|              0|         0|         0|       Laborers|              2| 49|       4|
|5008824|          0|           1|              0|           0|        135000.0|Commercial associate|Secondary / secon...|             Married|House / apartment|    -17778|        -1194|              0|         0|         0|       Laborers|              2| 49|       4|
|5008825|          1|           1|              0|           0|        130500.0|             Working|   Incomplete higher|             Married|House / apartment|    -10669|        -1103|              0|         0|         0|    Accountants|              2| 30|       4|
+-------+-----------+------------+---------------+------------+----------------+--------------------+--------------------+--------------------+-----------------+----------+-------------+---------------+----------+----------+---------------+---------------+---+--------+
only showing top 20 rows

In [8]:
# there is occupation type that is null so we need to fill it up
df_app_cleaned.select('occupation_type').where(isnull(col('occupation_type'))).count() 
# There are no possibility to

134203

In [9]:
# check for occupation type that is null
df_app_cleaned.select(['amt_income_total','name_income_type','occupation_type','employed']).where(isnull(df_app_cleaned.occupation_type)).show()
# there is possibility to use the amt_income_total & name_income_type to classified the occupation_type typically will have the same job
# so need to find the exact number to it

+----------------+----------------+---------------+--------+
|amt_income_total|name_income_type|occupation_type|employed|
+----------------+----------------+---------------+--------+
|        427500.0|         Working|           NULL|      13|
|        427500.0|         Working|           NULL|      13|
|        283500.0|       Pensioner|           NULL|       0|
|        283500.0|       Pensioner|           NULL|       0|
|        283500.0|       Pensioner|           NULL|       0|
|        112500.0|         Working|           NULL|       5|
|        112500.0|         Working|           NULL|       5|
|        112500.0|         Working|           NULL|       5|
|        315000.0|       Pensioner|           NULL|       0|
|        225000.0|         Working|           NULL|       8|
|        225000.0|         Working|           NULL|       8|
|        225000.0|         Working|           NULL|       8|
|        225000.0|         Working|           NULL|       8|
|        157500.0|         Working|           NULL|       3|
|        157500.0|         Working|           NULL|       3|
|        157500.0|         Working|           NULL|       3|
|        157500.0|         Working|           NULL|       3|
|        112500.0|       Pensioner|           NULL|       0|
|        112500.0|       Pensioner|           NULL|       0|
|        112500.0|       Pensioner|           NULL|       0|
+----------------+----------------+---------------+--------+
only showing top 20 rows

In [10]:
# so use the possibility of it and fill the occupation_type that got from the amt_income_total and name_income_type
from pyspark.sql import Window, functions as F

# Define a window specification
window_spec = Window.partitionBy('amt_income_total', 'name_income_type')

# Fill missing values of occupation_type with the most frequent value within each group
filled_occupation_type = F.first('occupation_type', ignorenulls=True).over(window_spec)

# Fill missing values using coalesce
df_app_cleaned = df_app_cleaned.withColumn('filled_occupation_type', filled_occupation_type)
df_app_cleaned = df_app_cleaned.withColumn('occupation_type', F.coalesce('occupation_type', 'filled_occupation_type')).drop('filled_occupation_type')

df_app_cleaned.show()

+-------+-----------+------------+---------------+------------+----------------+----------------+--------------------+--------------------+-----------------+----------+-------------+---------------+----------+----------+---------------+---------------+---+--------+
|     id|code_gender|flag_own_car|flag_own_realty|cnt_children|amt_income_total|name_income_type| name_education_type|  name_family_status|name_housing_type|days_birth|days_employed|flag_work_phone|flag_phone|flag_email|occupation_type|cnt_fam_members|age|employed|
+-------+-----------+------------+---------------+------------+----------------+----------------+--------------------+--------------------+-----------------+----------+-------------+---------------+----------+----------+---------------+---------------+---+--------+
|6093713|          1|           0|              0|           0|         26100.0|       Pensioner|Secondary / secon...|             Married|House / apartment|    -21003|       365243|              0|         0|         0|           NULL|              2| 58|       0|
|6093712|          1|           0|              0|           0|         26100.0|       Pensioner|Secondary / secon...|             Married|House / apartment|    -21003|       365243|              0|         0|         0|           NULL|              2| 58|       0|
|5213635|          1|           0|              0|           0|         27000.0|       Pensioner|Secondary / secon...|               Widow|House / apartment|    -20935|       365243|              0|         0|         0|           NULL|              1| 58|       0|
|5213636|          1|           0|              0|           0|         27000.0|       Pensioner|Secondary / secon...|               Widow|House / apartment|    -20935|       365243|              0|         0|         0|           NULL|              1| 58|       0|
|5369432|          1|           0|              0|           0|         27000.0|       Pensioner|Secondary / secon...|             Married|House / apartment|    -20794|       365243|              0|         0|         0|           NULL|              2| 57|       0|
|5369433|          1|           0|              0|           0|         27000.0|       Pensioner|Secondary / secon...|             Married|House / apartment|    -20794|       365243|              0|         0|         0|           NULL|              2| 57|       0|
|5369434|          1|           0|              0|           0|         27000.0|       Pensioner|Secondary / secon...|             Married|House / apartment|    -20794|       365243|              0|         0|         0|           NULL|              2| 57|       0|
|5369435|          1|           0|              0|           0|         27000.0|       Pensioner|Secondary / secon...|             Married|House / apartment|    -20794|       365243|              0|         0|         0|           NULL|              2| 57|       0|
|5565440|          0|           0|              0|           0|         27000.0|       Pensioner|Secondary / secon...|Single / not married|House / apartment|    -21236|       365243|              0|         1|         0|           NULL|              1| 59|       0|
|5890283|          1|           0|              0|           0|         27000.0|       Pensioner|Secondary / secon...|             Married|House / apartment|    -21033|       365243|              0|         0|         0|           NULL|              2| 58|       0|
|5890285|          1|           0|              0|           0|         27000.0|       Pensioner|Secondary / secon...|             Married|House / apartment|    -21033|       365243|              0|         0|         0|           NULL|              2| 58|       0|
|5890287|          1|           0|              0|           0|         27000.0|       Pensioner|Secondary / secon...|             Married|House / apartment|    -21033|       365243|              0|         0|         0|           NULL|              2| 58|       0|
|7565440|          0|           0|              0|           0|         27000.0|       Pensioner|Secondary / secon...|Single / not married|House / apartment|    -21236|       365243|              0|         1|         0|           NULL|              1| 59|       0|
|5518822|          1|           0|              0|           1|         27000.0|   State servant|Secondary / secon...|             Married|House / apartment|    -10154|         -820|              0|         0|         0|     Core staff|              3| 28|       3|
|5518823|          1|           0|              0|           1|         27000.0|   State servant|Secondary / secon...|             Married|House / apartment|    -10154|         -820|              0|         0|         0|     Core staff|              3| 28|       3|
|6231976|          1|           0|              0|           0|         27000.0|   State servant|Secondary / secon...|             Married|     With parents|    -18707|         -161|              0|         0|         0|       Laborers|              2| 52|       1|
|6231977|          1|           0|              0|           0|         27000.0|   State servant|Secondary / secon...|             Married|     With parents|    -18707|         -161|              0|         0|         0|       Laborers|              2| 52|       1|
|5126174|          1|           0|              0|           0|         27000.0|         Working|    Higher education|      Civil marriage|House / apartment|    -14869|        -5067|              1|         0|         0|       Managers|              2| 41|      14|
|5126175|          1|           0|              0|           0|         27000.0|         Working|    Higher education|      Civil marriage|House / apartment|    -14869|        -5067|              1|         0|         0|       Managers|              2| 41|      14|
|5995345|          1|           0|              0|           0|         27000.0|         Working|    Higher education|      Civil marriage|House / apartment|    -14869|        -5067|              1|         0|         0|       Managers|              2| 41|      14|
+-------+-----------+------------+---------------+------------+----------------+----------------+--------------------+--------------------+-----------------+----------+-------------+---------------+----------+----------+---------------+---------------+---+--------+
only showing top 20 rows

In [11]:
# check for occupation type that is null  and that the amt_income_total and name_income_type same, but still null
df_app_cleaned.select(['amt_income_total','name_income_type','occupation_type','employed']).where(isnull(df_app_cleaned.occupation_type) & (df_app_cleaned.employed != 0)).show()
# There are no exact data to fill the null in that missing value, so the possibility is the same name_income_type with the nearest amt_income_total
# Create a window specification to partition by 'name_income_type' and order by the absolute difference in 'amt_income_total'
window_spec = Window.partitionBy('name_income_type').orderBy(F.abs(F.col('amt_income_total') - F.col('amt_income_total_with_null')))

# Create a temporary column to store the amt_income_total of rows with null occupation_type
df_temp = df_app_cleaned.withColumn('amt_income_total_with_null', F.when(F.col('occupation_type').isNull(), F.col('amt_income_total')))

# Fill missing occupation_type using the nearest amt_income_total
filled_occupation_type = F.first('occupation_type', ignorenulls=True).over(window_spec)
df_temp = df_temp.withColumn('filled_occupation_type', filled_occupation_type)

# Use coalesce to fill the null values
df_app_cleaned = df_temp.withColumn('occupation_type', F.coalesce(F.col('occupation_type'), F.col('filled_occupation_type'))).drop('filled_occupation_type', 'amt_income_total_with_null')

df_app_cleaned.show()

+----------------+--------------------+---------------+--------+
|amt_income_total|    name_income_type|occupation_type|employed|
+----------------+--------------------+---------------+--------+
|         32400.0|             Working|           NULL|       5|
|         32400.0|             Working|           NULL|       5|
|         32400.0|             Working|           NULL|       5|
|         38250.0|       State servant|           NULL|       3|
|         38250.0|       State servant|           NULL|       3|
|         38250.0|       State servant|           NULL|       3|
|         38250.0|       State servant|           NULL|       3|
|         38250.0|       State servant|           NULL|       3|
|         38250.0|       State servant|           NULL|       3|
|         38250.0|       State servant|           NULL|       3|
|         38700.0|             Working|           NULL|      26|
|         41211.0|Commercial associate|           NULL|       6|
|         41211.0|Commercial associate|           NULL|       6|
|         41211.0|Commercial associate|           NULL|       6|
|         41211.0|Commercial associate|           NULL|       6|
|         41211.0|Commercial associate|           NULL|       6|
|         41211.0|Commercial associate|           NULL|       6|
|         41211.0|Commercial associate|           NULL|       6|
|         41211.0|Commercial associate|           NULL|       6|
|         52650.0|             Working|           NULL|       3|
+----------------+--------------------+---------------+--------+
only showing top 20 rows

+-------+-----------+------------+---------------+------------+----------------+--------------------+--------------------+------------------+-----------------+----------+-------------+---------------+----------+----------+---------------+---------------+---+--------+
|     id|code_gender|flag_own_car|flag_own_realty|cnt_children|amt_income_total|    name_income_type| name_education_type|name_family_status|name_housing_type|days_birth|days_employed|flag_work_phone|flag_phone|flag_email|occupation_type|cnt_fam_members|age|employed|
+-------+-----------+------------+---------------+------------+----------------+--------------------+--------------------+------------------+-----------------+----------+-------------+---------------+----------+----------+---------------+---------------+---+--------+
|6014233|          1|           0|              0|           1|         28723.5|Commercial associate|Secondary / secon...|           Married|House / apartment|    -14361|         -138|              1|         0|         0| Cleaning staff|              3| 40|       1|
|6463725|          1|           0|              0|           1|         28723.5|Commercial associate|Secondary / secon...|           Married|House / apartment|    -14361|         -138|              1|         0|         0| Cleaning staff|              3| 40|       1|
|6463726|          1|           0|              0|           1|         28723.5|Commercial associate|Secondary / secon...|           Married|House / apartment|    -14361|         -138|              1|         0|         0| Cleaning staff|              3| 40|       1|
|6463727|          1|           0|              0|           1|         28723.5|Commercial associate|Secondary / secon...|           Married|House / apartment|    -14361|         -138|              1|         0|         0| Cleaning staff|              3| 40|       1|
|6463728|          1|           0|              0|           1|         28723.5|Commercial associate|Secondary / secon...|           Married|House / apartment|    -14361|         -138|              1|         0|         0| Cleaning staff|              3| 40|       1|
|6463729|          1|           0|              0|           1|         28723.5|Commercial associate|Secondary / secon...|           Married|House / apartment|    -14361|         -138|              1|         0|         0| Cleaning staff|              3| 40|       1|
|5088968|          1|           1|              0|           0|         31500.0|Commercial associate|Secondary / secon...|           Married|House / apartment|    -17762|        -7734|              1|         1|         0| Cleaning staff|              2| 49|      22|
|5088969|          1|           1|              0|           0|         31500.0|Commercial associate|Secondary / secon...|           Married|House / apartment|    -17762|        -7734|              1|         1|         0| Cleaning staff|              2| 49|      22|
|5088970|          1|           1|              0|           0|         31500.0|Commercial associate|Secondary / secon...|           Married|House / apartment|    -17762|        -7734|              1|         1|         0| Cleaning staff|              2| 49|      22|
|5088971|          1|           1|              0|           0|         31500.0|Commercial associate|Secondary / secon...|           Married|House / apartment|    -17762|        -7734|              1|         1|         0| Cleaning staff|              2| 49|      22|
|5088972|          1|           1|              0|           0|         31500.0|Commercial associate|Secondary / secon...|           Married|House / apartment|    -17762|        -7734|              1|         1|         0| Cleaning staff|              2| 49|      22|
|5088974|          1|           1|              0|           0|         31500.0|Commercial associate|Secondary / secon...|           Married|House / apartment|    -17762|        -7734|              1|         1|         0| Cleaning staff|              2| 49|      22|
|5088975|          1|           1|              0|           0|         31500.0|Commercial associate|Secondary / secon...|           Married|House / apartment|    -17762|        -7734|              1|         1|         0| Cleaning staff|              2| 49|      22|
|5088976|          1|           1|              0|           0|         31500.0|Commercial associate|Secondary / secon...|           Married|House / apartment|    -17762|        -7734|              1|         1|         0| Cleaning staff|              2| 49|      22|
|5602956|          1|           0|              0|           1|         36000.0|Commercial associate|Secondary / secon...|    Civil marriage|House / apartment|    -14225|        -4059|              1|         0|         0|    Sales staff|              3| 39|      12|
|5602957|          1|           0|              0|           1|         36000.0|Commercial associate|Secondary / secon...|    Civil marriage|House / apartment|    -14225|        -4059|              1|         0|         0|    Sales staff|              3| 39|      12|
|5602958|          1|           0|              0|           1|         36000.0|Commercial associate|Secondary / secon...|    Civil marriage|House / apartment|    -14225|        -4059|              1|         0|         0|    Sales staff|              3| 39|      12|
|5602959|          1|           0|              0|           1|         36000.0|Commercial associate|Secondary / secon...|    Civil marriage|House / apartment|    -14225|        -4059|              1|         0|         0|    Sales staff|              3| 39|      12|
|6026865|          1|           0|              0|           1|         36000.0|Commercial associate|Secondary / secon...|    Civil marriage|House / apartment|    -14225|        -4059|              1|         0|         0|    Sales staff|              3| 39|      12|
|6026866|          1|           0|              0|           1|         36000.0|Commercial associate|Secondary / secon...|    Civil marriage|House / apartment|    -14225|        -4059|              1|         0|         0|    Sales staff|              3| 39|      12|
+-------+-----------+------------+---------------+------------+----------------+--------------------+--------------------+------------------+-----------------+----------+-------------+---------------+----------+----------+---------------+---------------+---+--------+
only showing top 20 rows

In [12]:
# check for occupation type that is null
df_app_cleaned.select(['amt_income_total','name_income_type','occupation_type','employed']).where(isnull(df_app_cleaned.occupation_type)).show()
# Data already cleaned!!

+----------------+----------------+---------------+--------+
|amt_income_total|name_income_type|occupation_type|employed|
+----------------+----------------+---------------+--------+
+----------------+----------------+---------------+--------+

In [13]:
df_credit = spark.read.format('csv').options(header=True,inferSchema=True).load('credit_record.csv')
df_credit.show(30, truncate=50)
df_credit.printSchema()
print('Status \n\
      0 => 1-29 days past due \n\
      1 => 30-59 days past due \n\
      2 => 60-89 days past due \n\
      3 => 90-119 days past due \n\
      4 => 120-149 days past due \n\
      5 => overdue/ bad debts > 150 days \n\
      C => paid successfully \n\
      X => No loan \n\
')

+-------+--------------+------+
|     ID|MONTHS_BALANCE|STATUS|
+-------+--------------+------+
|5001711|             0|     X|
|5001711|            -1|     0|
|5001711|            -2|     0|
|5001711|            -3|     0|
|5001712|             0|     C|
|5001712|            -1|     C|
|5001712|            -2|     C|
|5001712|            -3|     C|
|5001712|            -4|     C|
|5001712|            -5|     C|
|5001712|            -6|     C|
|5001712|            -7|     C|
|5001712|            -8|     C|
|5001712|            -9|     0|
|5001712|           -10|     0|
|5001712|           -11|     0|
|5001712|           -12|     0|
|5001712|           -13|     0|
|5001712|           -14|     0|
|5001712|           -15|     0|
|5001712|           -16|     0|
|5001712|           -17|     0|
|5001712|           -18|     0|
|5001713|             0|     X|
|5001713|            -1|     X|
|5001713|            -2|     X|
|5001713|            -3|     X|
|5001713|            -4|     X|
|5001713|            -5|     X|
|5001713|            -6|     X|
+-------+--------------+------+
only showing top 30 rows

root
 |-- ID: integer (nullable = true)
 |-- MONTHS_BALANCE: integer (nullable = true)
 |-- STATUS: string (nullable = true)

Status
      0 => 1-29 days past due
      1 => 30-59 days past due
      2 => 60-89 days past due
      3 => 90-119 days past due
      4 => 120-149 days past due
      5 => overdue/ bad debts > 150 days
      C => paid successfully
      X => No loan

In [14]:
# Check for null etc.
df_credit.select([count((when(isnan(c) | isnull(c), 1))).alias(c) for c in df_credit.columns]).show()
# No null in data so all data is valid# Check for null etc.
df_credit.select([count((when(isnan(c) | isnull(c), 1))).alias(c) for c in df_credit.columns]).show()
# No null in data so all data is valid

+---+--------------+------+
| ID|MONTHS_BALANCE|STATUS|
+---+--------------+------+
|  0|             0|     0|
+---+--------------+------+

+---+--------------+------+
| ID|MONTHS_BALANCE|STATUS|
+---+--------------+------+
|  0|             0|     0|
+---+--------------+------+

In [15]:
df_credit.show()

+-------+--------------+------+
|     ID|MONTHS_BALANCE|STATUS|
+-------+--------------+------+
|5001711|             0|     X|
|5001711|            -1|     0|
|5001711|            -2|     0|
|5001711|            -3|     0|
|5001712|             0|     C|
|5001712|            -1|     C|
|5001712|            -2|     C|
|5001712|            -3|     C|
|5001712|            -4|     C|
|5001712|            -5|     C|
|5001712|            -6|     C|
|5001712|            -7|     C|
|5001712|            -8|     C|
|5001712|            -9|     0|
|5001712|           -10|     0|
|5001712|           -11|     0|
|5001712|           -12|     0|
|5001712|           -13|     0|
|5001712|           -14|     0|
|5001712|           -15|     0|
+-------+--------------+------+
only showing top 20 rows

In [21]:
df_credit = df_credit.filter(col("MONTHS_BALANCE") >= -6)
df_credit.show()

+-------+--------------+------+
|     ID|MONTHS_BALANCE|STATUS|
+-------+--------------+------+
|5001711|             0|     X|
|5001711|            -1|     0|
|5001711|            -2|     0|
|5001711|            -3|     0|
|5001712|             0|     C|
|5001712|            -1|     C|
|5001712|            -2|     C|
|5001712|            -3|     C|
|5001712|            -4|     C|
|5001712|            -5|     C|
|5001712|            -6|     C|
|5001713|             0|     X|
|5001713|            -1|     X|
|5001713|            -2|     X|
|5001713|            -3|     X|
|5001713|            -4|     X|
|5001713|            -5|     X|
|5001713|            -6|     X|
|5001714|             0|     X|
|5001714|            -1|     X|
+-------+--------------+------+
only showing top 20 rows

In [22]:
df_app_cleaned.show()

+-------+-----------+------------+---------------+------------+----------------+--------------------+--------------------+------------------+-----------------+----------+-------------+---------------+----------+----------+---------------+---------------+---+--------+
|     id|code_gender|flag_own_car|flag_own_realty|cnt_children|amt_income_total|    name_income_type| name_education_type|name_family_status|name_housing_type|days_birth|days_employed|flag_work_phone|flag_phone|flag_email|occupation_type|cnt_fam_members|age|employed|
+-------+-----------+------------+---------------+------------+----------------+--------------------+--------------------+------------------+-----------------+----------+-------------+---------------+----------+----------+---------------+---------------+---+--------+
|6014233|          1|           0|              0|           1|         28723.5|Commercial associate|Secondary / secon...|           Married|House / apartment|    -14361|         -138|              1|         0|         0| Cleaning staff|              3| 40|       1|
|6463725|          1|           0|              0|           1|         28723.5|Commercial associate|Secondary / secon...|           Married|House / apartment|    -14361|         -138|              1|         0|         0| Cleaning staff|              3| 40|       1|
|6463726|          1|           0|              0|           1|         28723.5|Commercial associate|Secondary / secon...|           Married|House / apartment|    -14361|         -138|              1|         0|         0| Cleaning staff|              3| 40|       1|
|6463727|          1|           0|              0|           1|         28723.5|Commercial associate|Secondary / secon...|           Married|House / apartment|    -14361|         -138|              1|         0|         0| Cleaning staff|              3| 40|       1|
|6463728|          1|           0|              0|           1|         28723.5|Commercial associate|Secondary / secon...|           Married|House / apartment|    -14361|         -138|              1|         0|         0| Cleaning staff|              3| 40|       1|
|6463729|          1|           0|              0|           1|         28723.5|Commercial associate|Secondary / secon...|           Married|House / apartment|    -14361|         -138|              1|         0|         0| Cleaning staff|              3| 40|       1|
|5088968|          1|           1|              0|           0|         31500.0|Commercial associate|Secondary / secon...|           Married|House / apartment|    -17762|        -7734|              1|         1|         0| Cleaning staff|              2| 49|      22|
|5088969|          1|           1|              0|           0|         31500.0|Commercial associate|Secondary / secon...|           Married|House / apartment|    -17762|        -7734|              1|         1|         0| Cleaning staff|              2| 49|      22|
|5088970|          1|           1|              0|           0|         31500.0|Commercial associate|Secondary / secon...|           Married|House / apartment|    -17762|        -7734|              1|         1|         0| Cleaning staff|              2| 49|      22|
|5088971|          1|           1|              0|           0|         31500.0|Commercial associate|Secondary / secon...|           Married|House / apartment|    -17762|        -7734|              1|         1|         0| Cleaning staff|              2| 49|      22|
|5088972|          1|           1|              0|           0|         31500.0|Commercial associate|Secondary / secon...|           Married|House / apartment|    -17762|        -7734|              1|         1|         0| Cleaning staff|              2| 49|      22|
|5088974|          1|           1|              0|           0|         31500.0|Commercial associate|Secondary / secon...|           Married|House / apartment|    -17762|        -7734|              1|         1|         0| Cleaning staff|              2| 49|      22|
|5088975|          1|           1|              0|           0|         31500.0|Commercial associate|Secondary / secon...|           Married|House / apartment|    -17762|        -7734|              1|         1|         0| Cleaning staff|              2| 49|      22|
|5088976|          1|           1|              0|           0|         31500.0|Commercial associate|Secondary / secon...|           Married|House / apartment|    -17762|        -7734|              1|         1|         0| Cleaning staff|              2| 49|      22|
|5602956|          1|           0|              0|           1|         36000.0|Commercial associate|Secondary / secon...|    Civil marriage|House / apartment|    -14225|        -4059|              1|         0|         0|    Sales staff|              3| 39|      12|
|5602957|          1|           0|              0|           1|         36000.0|Commercial associate|Secondary / secon...|    Civil marriage|House / apartment|    -14225|        -4059|              1|         0|         0|    Sales staff|              3| 39|      12|
|5602958|          1|           0|              0|           1|         36000.0|Commercial associate|Secondary / secon...|    Civil marriage|House / apartment|    -14225|        -4059|              1|         0|         0|    Sales staff|              3| 39|      12|
|5602959|          1|           0|              0|           1|         36000.0|Commercial associate|Secondary / secon...|    Civil marriage|House / apartment|    -14225|        -4059|              1|         0|         0|    Sales staff|              3| 39|      12|
|6026865|          1|           0|              0|           1|         36000.0|Commercial associate|Secondary / secon...|    Civil marriage|House / apartment|    -14225|        -4059|              1|         0|         0|    Sales staff|              3| 39|      12|
|6026866|          1|           0|              0|           1|         36000.0|Commercial associate|Secondary / secon...|    Civil marriage|House / apartment|    -14225|        -4059|              1|         0|         0|    Sales staff|              3| 39|      12|
+-------+-----------+------------+---------------+------------+----------------+--------------------+--------------------+------------------+-----------------+----------+-------------+---------------+----------+----------+---------------+---------------+---+--------+
only showing top 20 rows

In [23]:
df_app = df_app_cleaned \
    .withColumnRenamed('CODE_GENDER', 'gender') \
    .withColumnRenamed('FLAG_OWN_CAR', 'own_car') \
    .withColumnRenamed('FLAG_OWN_REALTY', 'own_property') \
    .withColumnRenamed('CNT_CHILDREN', 'children') \
    .withColumnRenamed('AMT_INCOME_TOTAL', 'income') \
    .withColumnRenamed('NAME_INCOME_TYPE', 'income_type') \
    .withColumnRenamed('NAME_EDUCATION_TYPE', 'education') \
    .withColumnRenamed('NAME_FAMILY_STATUS', 'family_status') \
    .withColumnRenamed('NAME_HOUSING_TYPE', 'housing_type') \
    .withColumnRenamed('FLAG_MOBIL', 'mobile') \
    .withColumnRenamed('FLAG_WORK_PHONE', 'work_phone') \
    .withColumnRenamed('FLAG_PHONE', 'phone') \
    .withColumnRenamed('FLAG_EMAIL', 'email') \
    .withColumnRenamed('CNT_FAM_MEMBERS', 'family_members') \
    .withColumnRenamed('MONTHS_BALANCE', 'months_balance') \
    .withColumnRenamed('STATUS', 'status') \
    .withColumnRenamed('DAYS_BIRTH', 'age_in_days') \
    .withColumnRenamed('DAYS_EMPLOYED', 'employment_in_days')

# Show the DataFrame schema to confirm changes
df_app.printSchema()

root
 |-- id: integer (nullable = true)
 |-- gender: integer (nullable = false)
 |-- own_car: integer (nullable = false)
 |-- own_property: integer (nullable = false)
 |-- children: integer (nullable = true)
 |-- income: double (nullable = true)
 |-- income_type: string (nullable = true)
 |-- education: string (nullable = true)
 |-- family_status: string (nullable = true)
 |-- housing_type: string (nullable = true)
 |-- age_in_days: integer (nullable = true)
 |-- employment_in_days: integer (nullable = true)
 |-- work_phone: integer (nullable = true)
 |-- phone: integer (nullable = true)
 |-- email: integer (nullable = true)
 |-- occupation_type: string (nullable = true)
 |-- family_members: integer (nullable = true)
 |-- age: long (nullable = true)
 |-- employed: long (nullable = true)

In [24]:
#Categorical Data
df_app.select('income_type').distinct().show()
df_app.select('education').distinct().show()
df_app.select('family_status').distinct().show()
df_app.select('housing_type').distinct().show()
df_app.select('occupation_type').distinct().show()

+--------------------+
|         income_type|
+--------------------+
|             Student|
|Commercial associate|
|       State servant|
|             Working|
|           Pensioner|
+--------------------+

+--------------------+
|           education|
+--------------------+
|     Academic degree|
|   Incomplete higher|
|Secondary / secon...|
|     Lower secondary|
|    Higher education|
+--------------------+

+--------------------+
|       family_status|
+--------------------+
|           Separated|
|             Married|
|Single / not married|
|               Widow|
|      Civil marriage|
+--------------------+

+-------------------+
|       housing_type|
+-------------------+
|  House / apartment|
|Municipal apartment|
|    Co-op apartment|
|   Rented apartment|
|   Office apartment|
|       With parents|
+-------------------+

+--------------------+
|     occupation_type|
+--------------------+
|            Managers|
|            HR staff|
|      Medicine staff|
|         Accountants|
|            Laborers|
|      Cleaning staff|
|Private service s...|
|             Drivers|
|         Sales staff|
|       Realty agents|
|            IT staff|
|      Security staff|
|         Secretaries|
|  Low-skill Laborers|
|          Core staff|
|       Cooking staff|
|High skill tech s...|
|Waiters/barmen staff|
+--------------------+

In [25]:
from pyspark.sql.functions import col, countDistinct
from pyspark.sql.types import StringType

string_columns = [field.name for field in df_app.schema.fields if field.dataType == StringType()]

# Create a DataFrame to hold the column names and their counts of unique values
unique_counts = df_app.select([countDistinct(col(c)).alias(c) for c in string_columns])

# Convert the above DataFrame to have two columns: Column_Name and Num_Unique
# First, create a single column DataFrame where each row has the format (ColumnName, Count)
unique_counts = unique_counts.selectExpr("stack(" + str(len(string_columns)) + ", " + 
                                         ", ".join([f"'{col}', {col}" for col in string_columns]) + 
                                         ") as (Column_Name, Num_Unique)")

# Sort by Num_Unique
unique_counts = unique_counts.sort("Num_Unique")

# Show the results
unique_counts.show()

+---------------+----------+
|    Column_Name|Num_Unique|
+---------------+----------+
|    income_type|         5|
|      education|         5|
|  family_status|         5|
|   housing_type|         6|
|occupation_type|        18|
+---------------+----------+

In [26]:
open_month = df_credit.groupBy("ID").agg(min("MONTHS_BALANCE").alias("begin_month"))

# Merge with the data DataFrame
customer_data = df_app.join(open_month, on="ID", how="left")

# Show the schema of the resulting DataFrame to confirm
customer_data.select(['id', 'begin_month', 'gender', 'own_Car']).show()

+-------+-----------+------+-------+
|     id|begin_month|gender|own_Car|
+-------+-----------+------+-------+
|5008804|         -6|     0|      1|
|5008805|         -6|     0|      1|
|5008806|         -6|     0|      1|
|5008808|         -4|     1|      0|
|5008809|       NULL|     1|      0|
|5008810|         -6|     1|      0|
|5008811|         -6|     1|      0|
|5008812|         -6|     1|      0|
|5008813|         -6|     1|      0|
|5008814|         -6|     1|      0|
|5008815|         -5|     0|      1|
|5112956|         -6|     0|      1|
|6153651|       NULL|     0|      1|
|5008819|       NULL|     0|      1|
|5008820|       NULL|     0|      1|
|5008821|         -6|     0|      1|
|5008822|       NULL|     0|      1|
|5008823|         -6|     0|      1|
|5008824|         -3|     0|      1|
|5008825|         -6|     1|      1|
+-------+-----------+------+-------+
only showing top 20 rows

In [27]:
#Compact housing type
housing_type = {'House / apartment' : 'House / apartment',
                   'With parents': 'With parents',
                    'Municipal apartment' : 'House / apartment',
                    'Rented apartment': 'House / apartment',
                    'Office apartment': 'House / apartment',
                    'Co-op apartment': 'House / apartment'}

def map_housing_type(col_name):
    
    expression = when(col(col_name) == 'With parents', housing_type['With parents'])
    for key, value in housing_type.items():
        if key != 'With parents': 
            expression = expression.when(col(col_name) == key, value)
    return expression.otherwise(col(col_name)) 

customer_data = customer_data.withColumn("Housing_Type", map_housing_type("Housing_Type"))

customer_data.select('housing_type').distinct().show()

+-----------------+
|     housing_type|
+-----------------+
|House / apartment|
|     With parents|
+-----------------+

In [28]:
#Compact education type
education_type = {
    'Secondary / secondary special': 'secondary',
    'Lower secondary': 'secondary',
    'Higher education': 'Higher education',
    'Incomplete higher': 'Higher education',
    'Academic degree': 'Academic degree'
}

def map_education_type(col_name):
    expression = when(col(col_name) == 'Secondary / secondary special', education_type['Secondary / secondary special'])
    for key, value in education_type.items():
        if key != 'Secondary / secondary special':  
            expression = expression.when(col(col_name) == key, value)
    return expression.otherwise(col(col_name)) 

customer_data = customer_data.withColumn("Education", map_education_type("Education"))
customer_data.select('Education').distinct().show()

+----------------+
|       Education|
+----------------+
| Academic degree|
|       secondary|
|Higher education|
+----------------+

In [29]:
#Compact income type
income_type = {
    'Commercial associate': 'Working',
    'State servant': 'Working',
    'Working': 'Working',
    'Pensioner': 'Pensioner',
    'Student':'Student'
}

def map_income_type(col_name):
    
    expression = when(col(col_name) == 'Working', income_type['Working'])  
    for key, value in income_type.items():
        if key != 'Working': 
            expression = expression.when(col(col_name) == key, value)
    return expression.otherwise(col(col_name))

# Update the DataFrame
customer_data = customer_data.withColumn("Income_Type", map_income_type("Income_Type"))

# Show the updated results to verify the changes
customer_data.select('Income_Type').distinct().show()

+-----------+
|Income_Type|
+-----------+
|    Student|
|    Working|
|  Pensioner|
+-----------+

In [30]:
customer_data = customer_data.withColumn(
    "In_Relationship",
    when(
        (col("Family_Status") == "Civil marriage") | (col("Family_Status") == "Married"), 1
    ).otherwise(0)
)

# Show the updated results to verify the changes
customer_data.select("Family_Status", "In_Relationship").show(truncate=False)

+--------------------+---------------+
|Family_Status       |In_Relationship|
+--------------------+---------------+
|Civil marriage      |1              |
|Civil marriage      |1              |
|Married             |1              |
|Single / not married|0              |
|Single / not married|0              |
|Single / not married|0              |
|Single / not married|0              |
|Separated           |0              |
|Separated           |0              |
|Separated           |0              |
|Married             |1              |
|Married             |1              |
|Married             |1              |
|Married             |1              |
|Married             |1              |
|Married             |1              |
|Married             |1              |
|Married             |1              |
|Married             |1              |
|Married             |1              |
+--------------------+---------------+
only showing top 20 rows

In [31]:
customer_data.printSchema()

root
 |-- id: integer (nullable = true)
 |-- gender: integer (nullable = false)
 |-- own_car: integer (nullable = false)
 |-- own_property: integer (nullable = false)
 |-- children: integer (nullable = true)
 |-- income: double (nullable = true)
 |-- Income_Type: string (nullable = true)
 |-- Education: string (nullable = true)
 |-- family_status: string (nullable = true)
 |-- Housing_Type: string (nullable = true)
 |-- age_in_days: integer (nullable = true)
 |-- employment_in_days: integer (nullable = true)
 |-- work_phone: integer (nullable = true)
 |-- phone: integer (nullable = true)
 |-- email: integer (nullable = true)
 |-- occupation_type: string (nullable = true)
 |-- family_members: integer (nullable = true)
 |-- age: long (nullable = true)
 |-- employed: long (nullable = true)
 |-- begin_month: integer (nullable = true)
 |-- In_Relationship: integer (nullable = false)

In [33]:
import plotly.graph_objects as go
from plotly.subplots import make_subplots

data_to_plot = customer_data.select("Income", "Age", "Employed", "Household_Size").toPandas()

# Create subplot structure
fig = make_subplots(rows=2, cols=2, start_cell="bottom-left",
                    subplot_titles=("Income", "Age", "Employed", "Household Size"))

# Add box plots
fig.add_trace(go.Box(x=data_to_plot['Income'], name='Income', boxmean='sd'), row=1, col=1)
fig.add_trace(go.Box(x=data_to_plot['Age'], name='Age', boxmean='sd'), row=1, col=2)
fig.add_trace(go.Box(x=data_to_plot['Employed'], name='Experience', boxmean='sd'), row=2, col=1)
fig.add_trace(go.Box(x=data_to_plot['Household_Size'], name='Household Size', boxmean='sd'), row=2, col=2)

# Display the figure
fig.show()

AnalysisException: [UNRESOLVED_COLUMN.WITH_SUGGESTION] A column or function parameter with name `Household_Size` cannot be resolved. Did you mean one of the following? [`Housing_Type`, `children`, `Income_Type`, `email`, `employed`].;
'Project [Income#2040, Age#536L, Employed#601L, 'Household_Size]
+- Project [id#17, gender#1960, own_car#1980, own_property#2000, children#2020, income#2040, Income_Type#2552, Education#2524, family_status#2100, Housing_Type#2496, age_in_days#2277, employment_in_days#2297, work_phone#2159, phone#2179, email#2199, occupation_type#976, family_members#2219, age#536L, employed#601L, begin_month#2441, CASE WHEN ((Family_Status#2100 = Civil marriage) OR (Family_Status#2100 = Married)) THEN 1 ELSE 0 END AS In_Relationship#2580]
   +- Project [id#17, gender#1960, own_car#1980, own_property#2000, children#2020, income#2040, CASE WHEN (Income_Type#2060 = Working) THEN Working WHEN (Income_Type#2060 = Commercial associate) THEN Working WHEN (Income_Type#2060 = State servant) THEN Working WHEN (Income_Type#2060 = Pensioner) THEN Pensioner WHEN (Income_Type#2060 = Student) THEN Student ELSE Income_Type#2060 END AS Income_Type#2552, Education#2524, family_status#2100, Housing_Type#2496, age_in_days#2277, employment_in_days#2297, work_phone#2159, phone#2179, email#2199, occupation_type#976, family_members#2219, age#536L, employed#601L, begin_month#2441]
      +- Project [id#17, gender#1960, own_car#1980, own_property#2000, children#2020, income#2040, income_type#2060, CASE WHEN (Education#2080 = Secondary / secondary special) THEN secondary WHEN (Education#2080 = Lower secondary) THEN secondary WHEN (Education#2080 = Higher education) THEN Higher education WHEN (Education#2080 = Incomplete higher) THEN Higher education WHEN (Education#2080 = Academic degree) THEN Academic degree ELSE Education#2080 END AS Education#2524, family_status#2100, Housing_Type#2496, age_in_days#2277, employment_in_days#2297, work_phone#2159, phone#2179, email#2199, occupation_type#976, family_members#2219, age#536L, employed#601L, begin_month#2441]
         +- Project [id#17, gender#1960, own_car#1980, own_property#2000, children#2020, income#2040, income_type#2060, education#2080, family_status#2100, CASE WHEN (Housing_Type#2120 = With parents) THEN With parents WHEN (Housing_Type#2120 = House / apartment) THEN House / apartment WHEN (Housing_Type#2120 = Municipal apartment) THEN House / apartment WHEN (Housing_Type#2120 = Rented apartment) THEN House / apartment WHEN (Housing_Type#2120 = Office apartment) THEN House / apartment WHEN (Housing_Type#2120 = Co-op apartment) THEN House / apartment ELSE Housing_Type#2120 END AS Housing_Type#2496, age_in_days#2277, employment_in_days#2297, work_phone#2159, phone#2179, email#2199, occupation_type#976, family_members#2219, age#536L, employed#601L, begin_month#2441]
            +- Project [id#17, gender#1960, own_car#1980, own_property#2000, children#2020, income#2040, income_type#2060, education#2080, family_status#2100, housing_type#2120, age_in_days#2277, employment_in_days#2297, work_phone#2159, phone#2179, email#2199, occupation_type#976, family_members#2219, age#536L, employed#601L, begin_month#2441]
               +- Join LeftOuter, (id#17 = ID#1160)
                  :- Project [id#17, gender#1960, own_car#1980, own_property#2000, children#2020, income#2040, income_type#2060, education#2080, family_status#2100, housing_type#2120, age_in_days#2277, days_employed#28 AS employment_in_days#2297, work_phone#2159, phone#2179, email#2199, occupation_type#976, family_members#2219, age#536L, employed#601L]
                  :  +- Project [id#17, gender#1960, own_car#1980, own_property#2000, children#2020, income#2040, income_type#2060, education#2080, family_status#2100, housing_type#2120, days_birth#27 AS age_in_days#2277, days_employed#28, work_phone#2159, phone#2179, email#2199, occupation_type#976, family_members#2219, age#536L, employed#601L]
                  :     +- Project [id#17, gender#1960, own_car#1980, own_property#2000, children#2020, income#2040, income_type#2060, education#2080, family_status#2100, housing_type#2120, days_birth#27, days_employed#28, work_phone#2159, phone#2179, email#2199, occupation_type#976, cnt_fam_members#433 AS family_members#2219, age#536L, employed#601L]
                  :        +- Project [id#17, gender#1960, own_car#1980, own_property#2000, children#2020, income#2040, income_type#2060, education#2080, family_status#2100, housing_type#2120, days_birth#27, days_employed#28, work_phone#2159, phone#2179, flag_email#32 AS email#2199, occupation_type#976, cnt_fam_members#433, age#536L, employed#601L]
                  :           +- Project [id#17, gender#1960, own_car#1980, own_property#2000, children#2020, income#2040, income_type#2060, education#2080, family_status#2100, housing_type#2120, days_birth#27, days_employed#28, work_phone#2159, flag_phone#31 AS phone#2179, flag_email#32, occupation_type#976, cnt_fam_members#433, age#536L, employed#601L]
                  :              +- Project [id#17, gender#1960, own_car#1980, own_property#2000, children#2020, income#2040, income_type#2060, education#2080, family_status#2100, housing_type#2120, days_birth#27, days_employed#28, flag_work_phone#30 AS work_phone#2159, flag_phone#31, flag_email#32, occupation_type#976, cnt_fam_members#433, age#536L, employed#601L]
                  :                 +- Project [id#17, gender#1960, own_car#1980, own_property#2000, children#2020, income#2040, income_type#2060, education#2080, family_status#2100, name_housing_type#26 AS housing_type#2120, days_birth#27, days_employed#28, flag_work_phone#30, flag_phone#31, flag_email#32, occupation_type#976, cnt_fam_members#433, age#536L, employed#601L]
                  :                    +- Project [id#17, gender#1960, own_car#1980, own_property#2000, children#2020, income#2040, income_type#2060, education#2080, name_family_status#25 AS family_status#2100, name_housing_type#26, days_birth#27, days_employed#28, flag_work_phone#30, flag_phone#31, flag_email#32, occupation_type#976, cnt_fam_members#433, age#536L, employed#601L]
                  :                       +- Project [id#17, gender#1960, own_car#1980, own_property#2000, children#2020, income#2040, income_type#2060, name_education_type#24 AS education#2080, name_family_status#25, name_housing_type#26, days_birth#27, days_employed#28, flag_work_phone#30, flag_phone#31, flag_email#32, occupation_type#976, cnt_fam_members#433, age#536L, employed#601L]
                  :                          +- Project [id#17, gender#1960, own_car#1980, own_property#2000, children#2020, income#2040, name_income_type#23 AS income_type#2060, name_education_type#24, name_family_status#25, name_housing_type#26, days_birth#27, days_employed#28, flag_work_phone#30, flag_phone#31, flag_email#32, occupation_type#976, cnt_fam_members#433, age#536L, employed#601L]
                  :                             +- Project [id#17, gender#1960, own_car#1980, own_property#2000, children#2020, amt_income_total#22 AS income#2040, name_income_type#23, name_education_type#24, name_family_status#25, name_housing_type#26, days_birth#27, days_employed#28, flag_work_phone#30, flag_phone#31, flag_email#32, occupation_type#976, cnt_fam_members#433, age#536L, employed#601L]
                  :                                +- Project [id#17, gender#1960, own_car#1980, own_property#2000, cnt_children#21 AS children#2020, amt_income_total#22, name_income_type#23, name_education_type#24, name_family_status#25, name_housing_type#26, days_birth#27, days_employed#28, flag_work_phone#30, flag_phone#31, flag_email#32, occupation_type#976, cnt_fam_members#433, age#536L, employed#601L]
                  :                                   +- Project [id#17, gender#1960, own_car#1980, flag_own_realty#415 AS own_property#2000, cnt_children#21, amt_income_total#22, name_income_type#23, name_education_type#24, name_family_status#25, name_housing_type#26, days_birth#27, days_employed#28, flag_work_phone#30, flag_phone#31, flag_email#32, occupation_type#976, cnt_fam_members#433, age#536L, employed#601L]
                  :                                      +- Project [id#17, gender#1960, flag_own_car#397 AS own_car#1980, flag_own_realty#415, cnt_children#21, amt_income_total#22, name_income_type#23, name_education_type#24, name_family_status#25, name_housing_type#26, days_birth#27, days_employed#28, flag_work_phone#30, flag_phone#31, flag_email#32, occupation_type#976, cnt_fam_members#433, age#536L, employed#601L]
                  :                                         +- Project [id#17, code_gender#379 AS gender#1960, flag_own_car#397, flag_own_realty#415, cnt_children#21, amt_income_total#22, name_income_type#23, name_education_type#24, name_family_status#25, name_housing_type#26, days_birth#27, days_employed#28, flag_work_phone#30, flag_phone#31, flag_email#32, occupation_type#976, cnt_fam_members#433, age#536L, employed#601L]
                  :                                            +- Project [id#17, code_gender#379, flag_own_car#397, flag_own_realty#415, cnt_children#21, amt_income_total#22, name_income_type#23, name_education_type#24, name_family_status#25, name_housing_type#26, days_birth#27, days_employed#28, flag_work_phone#30, flag_phone#31, flag_email#32, occupation_type#976, cnt_fam_members#433, age#536L, employed#601L]
                  :                                               +- Project [id#17, code_gender#379, flag_own_car#397, flag_own_realty#415, cnt_children#21, amt_income_total#22, name_income_type#23, name_education_type#24, name_family_status#25, name_housing_type#26, days_birth#27, days_employed#28, flag_work_phone#30, flag_phone#31, flag_email#32, coalesce(occupation_type#769, filled_occupation_type#953) AS occupation_type#976, cnt_fam_members#433, age#536L, employed#601L, amt_income_total_with_null#931, filled_occupation_type#953]
                  :                                                  +- Project [id#17, code_gender#379, flag_own_car#397, flag_own_realty#415, cnt_children#21, amt_income_total#22, name_income_type#23, name_education_type#24, name_family_status#25, name_housing_type#26, days_birth#27, days_employed#28, flag_work_phone#30, flag_phone#31, flag_email#32, occupation_type#769, cnt_fam_members#433, age#536L, employed#601L, amt_income_total_with_null#931, filled_occupation_type#953]
                  :                                                     +- Project [id#17, code_gender#379, flag_own_car#397, flag_own_realty#415, cnt_children#21, amt_income_total#22, name_income_type#23, name_education_type#24, name_family_status#25, name_housing_type#26, days_birth#27, days_employed#28, flag_work_phone#30, flag_phone#31, flag_email#32, occupation_type#769, cnt_fam_members#433, age#536L, employed#601L, amt_income_total_with_null#931, _w0#954, filled_occupation_type#953, filled_occupation_type#953]
                  :                                                        +- Window [first(occupation_type#769, true) windowspecdefinition(name_income_type#23, _w0#954 ASC NULLS FIRST, specifiedwindowframe(RangeFrame, unboundedpreceding$(), currentrow$())) AS filled_occupation_type#953], [name_income_type#23], [_w0#954 ASC NULLS FIRST]
                  :                                                           +- Project [id#17, code_gender#379, flag_own_car#397, flag_own_realty#415, cnt_children#21, amt_income_total#22, name_income_type#23, name_education_type#24, name_family_status#25, name_housing_type#26, days_birth#27, days_employed#28, flag_work_phone#30, flag_phone#31, flag_email#32, occupation_type#769, cnt_fam_members#433, age#536L, employed#601L, amt_income_total_with_null#931, abs((amt_income_total#22 - amt_income_total_with_null#931)) AS _w0#954]
                  :                                                              +- Project [id#17, code_gender#379, flag_own_car#397, flag_own_realty#415, cnt_children#21, amt_income_total#22, name_income_type#23, name_education_type#24, name_family_status#25, name_housing_type#26, days_birth#27, days_employed#28, flag_work_phone#30, flag_phone#31, flag_email#32, occupation_type#769, cnt_fam_members#433, age#536L, employed#601L, CASE WHEN isnull(occupation_type#769) THEN amt_income_total#22 END AS amt_income_total_with_null#931]
                  :                                                                 +- Project [id#17, code_gender#379, flag_own_car#397, flag_own_realty#415, cnt_children#21, amt_income_total#22, name_income_type#23, name_education_type#24, name_family_status#25, name_housing_type#26, days_birth#27, days_employed#28, flag_work_phone#30, flag_phone#31, flag_email#32, occupation_type#769, cnt_fam_members#433, age#536L, employed#601L]
                  :                                                                    +- Project [id#17, code_gender#379, flag_own_car#397, flag_own_realty#415, cnt_children#21, amt_income_total#22, name_income_type#23, name_education_type#24, name_family_status#25, name_housing_type#26, days_birth#27, days_employed#28, flag_work_phone#30, flag_phone#31, flag_email#32, coalesce(occupation_type#33, filled_occupation_type#748) AS occupation_type#769, cnt_fam_members#433, age#536L, employed#601L, filled_occupation_type#748]
                  :                                                                       +- Project [id#17, code_gender#379, flag_own_car#397, flag_own_realty#415, cnt_children#21, amt_income_total#22, name_income_type#23, name_education_type#24, name_family_status#25, name_housing_type#26, days_birth#27, days_employed#28, flag_work_phone#30, flag_phone#31, flag_email#32, occupation_type#33, cnt_fam_members#433, age#536L, employed#601L, filled_occupation_type#748]
                  :                                                                          +- Project [id#17, code_gender#379, flag_own_car#397, flag_own_realty#415, cnt_children#21, amt_income_total#22, name_income_type#23, name_education_type#24, name_family_status#25, name_housing_type#26, days_birth#27, days_employed#28, flag_work_phone#30, flag_phone#31, flag_email#32, occupation_type#33, cnt_fam_members#433, age#536L, employed#601L, filled_occupation_type#748, filled_occupation_type#748]
                  :                                                                             +- Window [first(occupation_type#33, true) windowspecdefinition(amt_income_total#22, name_income_type#23, specifiedwindowframe(RowFrame, unboundedpreceding$(), unboundedfollowing$())) AS filled_occupation_type#748], [amt_income_total#22, name_income_type#23]
                  :                                                                                +- Project [id#17, code_gender#379, flag_own_car#397, flag_own_realty#415, cnt_children#21, amt_income_total#22, name_income_type#23, name_education_type#24, name_family_status#25, name_housing_type#26, days_birth#27, days_employed#28, flag_work_phone#30, flag_phone#31, flag_email#32, occupation_type#33, cnt_fam_members#433, age#536L, employed#601L]
                  :                                                                                   +- Project [id#17, code_gender#379, flag_own_car#397, flag_own_realty#415, cnt_children#21, amt_income_total#22, name_income_type#23, name_education_type#24, name_family_status#25, name_housing_type#26, days_birth#27, days_employed#28, flag_work_phone#30, flag_phone#31, flag_email#32, occupation_type#33, cnt_fam_members#433, age#536L, CASE WHEN (employed#562L < cast(0 as bigint)) THEN cast(0 as bigint) ELSE employed#562L END AS employed#601L]
                  :                                                                                      +- Project [id#17, code_gender#379, flag_own_car#397, flag_own_realty#415, cnt_children#21, amt_income_total#22, name_income_type#23, name_education_type#24, name_family_status#25, name_housing_type#26, days_birth#27, days_employed#28, flag_work_phone#30, flag_phone#31, flag_email#32, occupation_type#33, cnt_fam_members#433, age#536L, (FLOOR((cast(days_employed#28 as double) / cast(365.25 as double))) * cast(-1 as bigint)) AS employed#562L]
                  :                                                                                         +- Project [id#17, code_gender#379, flag_own_car#397, flag_own_realty#415, cnt_children#21, amt_income_total#22, name_income_type#23, name_education_type#24, name_family_status#25, name_housing_type#26, days_birth#27, days_employed#28, flag_work_phone#30, flag_phone#31, flag_email#32, occupation_type#33, cnt_fam_members#433, (FLOOR((cast(days_birth#27 as double) / cast(365.25 as double))) * cast(-1 as bigint)) AS age#536L]
                  :                                                                                            +- Project [id#17, code_gender#379, flag_own_car#397, flag_own_realty#415, cnt_children#21, amt_income_total#22, name_income_type#23, name_education_type#24, name_family_status#25, name_housing_type#26, days_birth#27, days_employed#28, flag_work_phone#30, flag_phone#31, flag_email#32, occupation_type#33, cast(cnt_fam_members#34 as int) AS cnt_fam_members#433]
                  :                                                                                               +- Project [id#17, code_gender#379, flag_own_car#397, CASE WHEN (flag_own_car#397 = cast(Y as int)) THEN 1 ELSE 0 END AS flag_own_realty#415, cnt_children#21, amt_income_total#22, name_income_type#23, name_education_type#24, name_family_status#25, name_housing_type#26, days_birth#27, days_employed#28, flag_work_phone#30, flag_phone#31, flag_email#32, occupation_type#33, cnt_fam_members#34]
                  :                                                                                                  +- Project [id#17, code_gender#379, CASE WHEN (flag_own_car#19 = Y) THEN 1 ELSE 0 END AS flag_own_car#397, flag_own_realty#20, cnt_children#21, amt_income_total#22, name_income_type#23, name_education_type#24, name_family_status#25, name_housing_type#26, days_birth#27, days_employed#28, flag_work_phone#30, flag_phone#31, flag_email#32, occupation_type#33, cnt_fam_members#34]
                  :                                                                                                     +- Project [id#17, CASE WHEN (code_gender#18 = F) THEN 1 ELSE 0 END AS code_gender#379, flag_own_car#19, flag_own_realty#20, cnt_children#21, amt_income_total#22, name_income_type#23, name_education_type#24, name_family_status#25, name_housing_type#26, days_birth#27, days_employed#28, flag_work_phone#30, flag_phone#31, flag_email#32, occupation_type#33, cnt_fam_members#34]
                  :                                                                                                        +- Project [id#17, code_gender#18, flag_own_car#19, flag_own_realty#20, cnt_children#21, amt_income_total#22, name_income_type#23, name_education_type#24, name_family_status#25, name_housing_type#26, days_birth#27, days_employed#28, flag_work_phone#30, flag_phone#31, flag_email#32, occupation_type#33, cnt_fam_members#34]
                  :                                                                                                           +- Relation [ID#17,CODE_GENDER#18,FLAG_OWN_CAR#19,FLAG_OWN_REALTY#20,CNT_CHILDREN#21,AMT_INCOME_TOTAL#22,NAME_INCOME_TYPE#23,NAME_EDUCATION_TYPE#24,NAME_FAMILY_STATUS#25,NAME_HOUSING_TYPE#26,DAYS_BIRTH#27,DAYS_EMPLOYED#28,FLAG_MOBIL#29,FLAG_WORK_PHONE#30,FLAG_PHONE#31,FLAG_EMAIL#32,OCCUPATION_TYPE#33,CNT_FAM_MEMBERS#34] csv
                  +- Aggregate [ID#1160], [ID#1160, min(MONTHS_BALANCE#1161) AS begin_month#2441]
                     +- Filter (MONTHS_BALANCE#1161 >= -6)
                        +- Filter (MONTHS_BALANCE#1161 >= -6)
                           +- Relation [ID#1160,MONTHS_BALANCE#1161,STATUS#1162] csv