In [23]:
# spark.stop()

NameError: name 'spark' is not defined

In [1]:
from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession
conf = SparkConf().setAppName('myApp') \
.setMaster('local')
sc = SparkContext(conf=conf)
spark = SparkSession(sc)

24/05/22 09:58:39 WARN Utils: Your hostname, Christophers-Laptop.local resolves to a loopback address: 127.0.0.1; using 192.168.1.10 instead (on interface en0)
24/05/22 09:58:39 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/05/22 09:58:40 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [2]:
from pyspark.sql.functions import *
import pandas as pd
import math

In [3]:
df_application = spark.read.format('csv').options(header=True,inferSchema=True).load('application_record.csv')
df_application.show(30, truncate=50)
df_application.printSchema()

+-------+-----------+------------+---------------+------------+----------------+--------------------+-----------------------------+--------------------+-----------------+----------+-------------+----------+---------------+----------+----------+---------------+---------------+
|     ID|CODE_GENDER|FLAG_OWN_CAR|FLAG_OWN_REALTY|CNT_CHILDREN|AMT_INCOME_TOTAL|    NAME_INCOME_TYPE|          NAME_EDUCATION_TYPE|  NAME_FAMILY_STATUS|NAME_HOUSING_TYPE|DAYS_BIRTH|DAYS_EMPLOYED|FLAG_MOBIL|FLAG_WORK_PHONE|FLAG_PHONE|FLAG_EMAIL|OCCUPATION_TYPE|CNT_FAM_MEMBERS|
+-------+-----------+------------+---------------+------------+----------------+--------------------+-----------------------------+--------------------+-----------------+----------+-------------+----------+---------------+----------+----------+---------------+---------------+
|5008804|          M|           Y|              Y|           0|        427500.0|             Working|             Higher education|      Civil marriage| Rented apartment|    -12005|        -4542|         1|              1|         0|         0|           NULL|            2.0|
|5008805|          M|           Y|              Y|           0|        427500.0|             Working|             Higher education|      Civil marriage| Rented apartment|    -12005|        -4542|         1|              1|         0|         0|           NULL|            2.0|
|5008806|          M|           Y|              Y|           0|        112500.0|             Working|Secondary / secondary special|             Married|House / apartment|    -21474|        -1134|         1|              0|         0|         0| Security staff|            2.0|
|5008808|          F|           N|              Y|           0|        270000.0|Commercial associate|Secondary / secondary special|Single / not married|House / apartment|    -19110|        -3051|         1|              0|         1|         1|    Sales staff|            1.0|
|5008809|          F|           N|              Y|           0|        270000.0|Commercial associate|Secondary / secondary special|Single / not married|House / apartment|    -19110|        -3051|         1|              0|         1|         1|    Sales staff|            1.0|
|5008810|          F|           N|              Y|           0|        270000.0|Commercial associate|Secondary / secondary special|Single / not married|House / apartment|    -19110|        -3051|         1|              0|         1|         1|    Sales staff|            1.0|
|5008811|          F|           N|              Y|           0|        270000.0|Commercial associate|Secondary / secondary special|Single / not married|House / apartment|    -19110|        -3051|         1|              0|         1|         1|    Sales staff|            1.0|
|5008812|          F|           N|              Y|           0|        283500.0|           Pensioner|             Higher education|           Separated|House / apartment|    -22464|       365243|         1|              0|         0|         0|           NULL|            1.0|
|5008813|          F|           N|              Y|           0|        283500.0|           Pensioner|             Higher education|           Separated|House / apartment|    -22464|       365243|         1|              0|         0|         0|           NULL|            1.0|
|5008814|          F|           N|              Y|           0|        283500.0|           Pensioner|             Higher education|           Separated|House / apartment|    -22464|       365243|         1|              0|         0|         0|           NULL|            1.0|
|5008815|          M|           Y|              Y|           0|        270000.0|             Working|             Higher education|             Married|House / apartment|    -16872|         -769|         1|              1|         1|         1|    Accountants|            2.0|
|5112956|          M|           Y|              Y|           0|        270000.0|             Working|             Higher education|             Married|House / apartment|    -16872|         -769|         1|              1|         1|         1|    Accountants|            2.0|
|6153651|          M|           Y|              Y|           0|        270000.0|             Working|             Higher education|             Married|House / apartment|    -16872|         -769|         1|              1|         1|         1|    Accountants|            2.0|
|5008819|          M|           Y|              Y|           0|        135000.0|Commercial associate|Secondary / secondary special|             Married|House / apartment|    -17778|        -1194|         1|              0|         0|         0|       Laborers|            2.0|
|5008820|          M|           Y|              Y|           0|        135000.0|Commercial associate|Secondary / secondary special|             Married|House / apartment|    -17778|        -1194|         1|              0|         0|         0|       Laborers|            2.0|
|5008821|          M|           Y|              Y|           0|        135000.0|Commercial associate|Secondary / secondary special|             Married|House / apartment|    -17778|        -1194|         1|              0|         0|         0|       Laborers|            2.0|
|5008822|          M|           Y|              Y|           0|        135000.0|Commercial associate|Secondary / secondary special|             Married|House / apartment|    -17778|        -1194|         1|              0|         0|         0|       Laborers|            2.0|
|5008823|          M|           Y|              Y|           0|        135000.0|Commercial associate|Secondary / secondary special|             Married|House / apartment|    -17778|        -1194|         1|              0|         0|         0|       Laborers|            2.0|
|5008824|          M|           Y|              Y|           0|        135000.0|Commercial associate|Secondary / secondary special|             Married|House / apartment|    -17778|        -1194|         1|              0|         0|         0|       Laborers|            2.0|
|5008825|          F|           Y|              N|           0|        130500.0|             Working|            Incomplete higher|             Married|House / apartment|    -10669|        -1103|         1|              0|         0|         0|    Accountants|            2.0|
|5008826|          F|           Y|              N|           0|        130500.0|             Working|            Incomplete higher|             Married|House / apartment|    -10669|        -1103|         1|              0|         0|         0|    Accountants|            2.0|
|5008830|          F|           N|              Y|           0|        157500.0|             Working|Secondary / secondary special|             Married|House / apartment|    -10031|        -1469|         1|              0|         1|         0|       Laborers|            2.0|
|5008831|          F|           N|              Y|           0|        157500.0|             Working|Secondary / secondary special|             Married|House / apartment|    -10031|        -1469|         1|              0|         1|         0|       Laborers|            2.0|
|5008832|          F|           N|              Y|           0|        157500.0|             Working|Secondary / secondary special|             Married|House / apartment|    -10031|        -1469|         1|              0|         1|         0|       Laborers|            2.0|
|5008834|          F|           N|              Y|           1|        112500.0|             Working|Secondary / secondary special|Single / not married|House / apartment|    -10968|        -1620|         1|              0|         0|         0|           NULL|            2.0|
|5008835|          F|           N|              Y|           1|        112500.0|             Working|Secondary / secondary special|Single / not married|House / apartment|    -10968|        -1620|         1|              0|         0|         0|           NULL|            2.0|
|6153712|          F|           N|              Y|           1|        112500.0|             Working|Secondary / secondary special|Single / not married|House / apartment|    -10968|        -1620|         1|              0|         0|         0|           NULL|            2.0|
|5008836|          M|           Y|              Y|           3|        270000.0|             Working|Secondary / secondary special|             Married|House / apartment|    -12689|        -1163|         1|              0|         0|         0|       Laborers|            5.0|
|5008837|          M|           Y|              Y|           3|        270000.0|             Working|Secondary / secondary special|             Married|House / apartment|    -12689|        -1163|         1|              0|         0|         0|       Laborers|            5.0|
|5008838|          M|           N|              Y|           1|        405000.0|Commercial associate|             Higher education|             Married|House / apartment|    -11842|        -2016|         1|              0|         0|         0|       Managers|            3.0|
+-------+-----------+------------+---------------+------------+----------------+--------------------+-----------------------------+--------------------+-----------------+----------+-------------+----------+---------------+----------+----------+---------------+---------------+
only showing top 30 rows

root
 |-- ID: integer (nullable = true)
 |-- CODE_GENDER: string (nullable = true)
 |-- FLAG_OWN_CAR: string (nullable = true)
 |-- FLAG_OWN_REALTY: string (nullable = true)
 |-- CNT_CHILDREN: integer (nullable = true)
 |-- AMT_INCOME_TOTAL: double (nullable = true)
 |-- NAME_INCOME_TYPE: string (nullable = true)
 |-- NAME_EDUCATION_TYPE: string (nullable = true)
 |-- NAME_FAMILY_STATUS: string (nullable = true)
 |-- NAME_HOUSING_TYPE: string (nullable = true)
 |-- DAYS_BIRTH: integer (nullable = true)
 |-- DAYS_EMPLOYED: integer (nullable = true)
 |-- FLAG_MOBIL: integer (nullable = true)
 |-- FLAG_WORK_PHONE: integer (nullable = true)
 |-- FLAG_PHONE: integer (nullable = true)
 |-- FLAG_EMAIL: integer (nullable = true)
 |-- OCCUPATION_TYPE: string (nullable = true)
 |-- CNT_FAM_MEMBERS: double (nullable = true)

24/05/21 16:21:39 WARN GarbageCollectionMetrics: To enable non-built-in garbage collector(s) List(G1 Concurrent GC), users should configure it(them) to spark.eventLog.gcMetrics.youngGenerationGarbageCollectors or spark.eventLog.gcMetrics.oldGenerationGarbageCollectors

In [4]:
# Check for null etc.
df_application.select([count((when(isnan(c) | isnull(c), 1))).alias(c) for c in df_application.columns]).show()
# No null in data so all data is valid

+---+-----------+------------+---------------+------------+----------------+----------------+-------------------+------------------+-----------------+----------+-------------+----------+---------------+----------+----------+---------------+---------------+
| ID|CODE_GENDER|FLAG_OWN_CAR|FLAG_OWN_REALTY|CNT_CHILDREN|AMT_INCOME_TOTAL|NAME_INCOME_TYPE|NAME_EDUCATION_TYPE|NAME_FAMILY_STATUS|NAME_HOUSING_TYPE|DAYS_BIRTH|DAYS_EMPLOYED|FLAG_MOBIL|FLAG_WORK_PHONE|FLAG_PHONE|FLAG_EMAIL|OCCUPATION_TYPE|CNT_FAM_MEMBERS|
+---+-----------+------------+---------------+------------+----------------+----------------+-------------------+------------------+-----------------+----------+-------------+----------+---------------+----------+----------+---------------+---------------+
|  0|          0|           0|              0|           0|               0|               0|                  0|                 0|                0|         0|            0|         0|              0|         0|         0|         134203|              0|
+---+-----------+------------+---------------+------------+----------------+----------------+-------------------+------------------+-----------------+----------+-------------+----------+---------------+----------+----------+---------------+---------------+

In [6]:
# First Check the data in code_gender to check if there is any misdata
# Select and show distinct values for each column separately
df_application.select('code_gender').distinct().show()
df_application.select('flag_own_car').distinct().show()
df_application.select('flag_own_realty').distinct().show()
df_application.select('flag_mobil').distinct().show()
df_application.select('flag_work_phone').distinct().show()
df_application.select('flag_email').distinct().show()
df_application.select('flag_phone').distinct().show()

+-----------+
|code_gender|
+-----------+
|          F|
|          M|
+-----------+

+------------+
|flag_own_car|
+------------+
|           Y|
|           N|
+------------+

+---------------+
|flag_own_realty|
+---------------+
|              Y|
|              N|
+---------------+

+----------+
|flag_mobil|
+----------+
|         1|
+----------+

+---------------+
|flag_work_phone|
+---------------+
|              1|
|              0|
+---------------+

+----------+
|flag_email|
+----------+
|         1|
|         0|
+----------+

+----------+
|flag_phone|
+----------+
|         1|
|         0|
+----------+

In [7]:
# After checking the flag_mobil is not important because the data is only 1 and no other variation. so in the cleaned data not getting the flag mobil
df_app_cleaned = df_application.select(['id','code_gender','flag_own_car','flag_own_realty','cnt_children','amt_income_total',
                                        'name_income_type','name_education_type','name_family_status','name_housing_type','days_birth',
                                        'days_employed','flag_work_phone','flag_phone','flag_email','occupation_type','cnt_fam_members'])

# AND the value is always 0 an 1 as the boolean so we want to make our data uniform so changing the Y as 1 and N as 0, F as 1 and M as 0
df_app_cleaned = df_app_cleaned.withColumn('code_gender', when(df_app_cleaned.code_gender == 'F',1).otherwise(0))
df_app_cleaned = df_app_cleaned.withColumn('flag_own_car', when(df_app_cleaned.flag_own_car == 'Y',1).otherwise(0))
df_app_cleaned = df_app_cleaned.withColumn('flag_own_realty', when(df_app_cleaned.flag_own_car == 'Y',1).otherwise(0))

# More data cleaning cnt_fam_members should be integer because there shouldn't be fam members that is half or less than 1
df_app_cleaned = df_app_cleaned.withColumn('cnt_fam_members', col('cnt_fam_members').cast('Integer'))

df_app_cleaned.show()

+-------+-----------+------------+---------------+------------+----------------+--------------------+--------------------+--------------------+-----------------+----------+-------------+---------------+----------+----------+---------------+---------------+
|     id|code_gender|flag_own_car|flag_own_realty|cnt_children|amt_income_total|    name_income_type| name_education_type|  name_family_status|name_housing_type|days_birth|days_employed|flag_work_phone|flag_phone|flag_email|occupation_type|cnt_fam_members|
+-------+-----------+------------+---------------+------------+----------------+--------------------+--------------------+--------------------+-----------------+----------+-------------+---------------+----------+----------+---------------+---------------+
|5008804|          0|           1|              0|           0|        427500.0|             Working|    Higher education|      Civil marriage| Rented apartment|    -12005|        -4542|              1|         0|         0|           NULL|              2|
|5008805|          0|           1|              0|           0|        427500.0|             Working|    Higher education|      Civil marriage| Rented apartment|    -12005|        -4542|              1|         0|         0|           NULL|              2|
|5008806|          0|           1|              0|           0|        112500.0|             Working|Secondary / secon...|             Married|House / apartment|    -21474|        -1134|              0|         0|         0| Security staff|              2|
|5008808|          1|           0|              0|           0|        270000.0|Commercial associate|Secondary / secon...|Single / not married|House / apartment|    -19110|        -3051|              0|         1|         1|    Sales staff|              1|
|5008809|          1|           0|              0|           0|        270000.0|Commercial associate|Secondary / secon...|Single / not married|House / apartment|    -19110|        -3051|              0|         1|         1|    Sales staff|              1|
|5008810|          1|           0|              0|           0|        270000.0|Commercial associate|Secondary / secon...|Single / not married|House / apartment|    -19110|        -3051|              0|         1|         1|    Sales staff|              1|
|5008811|          1|           0|              0|           0|        270000.0|Commercial associate|Secondary / secon...|Single / not married|House / apartment|    -19110|        -3051|              0|         1|         1|    Sales staff|              1|
|5008812|          1|           0|              0|           0|        283500.0|           Pensioner|    Higher education|           Separated|House / apartment|    -22464|       365243|              0|         0|         0|           NULL|              1|
|5008813|          1|           0|              0|           0|        283500.0|           Pensioner|    Higher education|           Separated|House / apartment|    -22464|       365243|              0|         0|         0|           NULL|              1|
|5008814|          1|           0|              0|           0|        283500.0|           Pensioner|    Higher education|           Separated|House / apartment|    -22464|       365243|              0|         0|         0|           NULL|              1|
|5008815|          0|           1|              0|           0|        270000.0|             Working|    Higher education|             Married|House / apartment|    -16872|         -769|              1|         1|         1|    Accountants|              2|
|5112956|          0|           1|              0|           0|        270000.0|             Working|    Higher education|             Married|House / apartment|    -16872|         -769|              1|         1|         1|    Accountants|              2|
|6153651|          0|           1|              0|           0|        270000.0|             Working|    Higher education|             Married|House / apartment|    -16872|         -769|              1|         1|         1|    Accountants|              2|
|5008819|          0|           1|              0|           0|        135000.0|Commercial associate|Secondary / secon...|             Married|House / apartment|    -17778|        -1194|              0|         0|         0|       Laborers|              2|
|5008820|          0|           1|              0|           0|        135000.0|Commercial associate|Secondary / secon...|             Married|House / apartment|    -17778|        -1194|              0|         0|         0|       Laborers|              2|
|5008821|          0|           1|              0|           0|        135000.0|Commercial associate|Secondary / secon...|             Married|House / apartment|    -17778|        -1194|              0|         0|         0|       Laborers|              2|
|5008822|          0|           1|              0|           0|        135000.0|Commercial associate|Secondary / secon...|             Married|House / apartment|    -17778|        -1194|              0|         0|         0|       Laborers|              2|
|5008823|          0|           1|              0|           0|        135000.0|Commercial associate|Secondary / secon...|             Married|House / apartment|    -17778|        -1194|              0|         0|         0|       Laborers|              2|
|5008824|          0|           1|              0|           0|        135000.0|Commercial associate|Secondary / secon...|             Married|House / apartment|    -17778|        -1194|              0|         0|         0|       Laborers|              2|
|5008825|          1|           1|              0|           0|        130500.0|             Working|   Incomplete higher|             Married|House / apartment|    -10669|        -1103|              0|         0|         0|    Accountants|              2|
+-------+-----------+------------+---------------+------------+----------------+--------------------+--------------------+--------------------+-----------------+----------+-------------+---------------+----------+----------+---------------+---------------+
only showing top 20 rows

In [8]:
# Changing the days birth into age Integer so that it will be classification into its correspondence age
df_app_cleaned = df_app_cleaned.withColumn('age', floor(col('days_birth')/365.25) * -1)

# Check value because age should not be negative or even > 100
df_app_cleaned.select('age').where('age < 0 or age > 100').show()

# Changing the days birth into age Integer so that it will be classification into its correspondence age
df_app_cleaned = df_app_cleaned.withColumn('employed', floor(col('days_employed')/365.25) * -1)

# Check value because age should not be negative or even > 100 as well as the occupation
df_app_cleaned.select(['name_income_type','occupation_type','employed']).where('employed < 0 or employed > 100').distinct().show()

+---+
|age|
+---+
+---+

+----------------+---------------+--------+
|name_income_type|occupation_type|employed|
+----------------+---------------+--------+
|       Pensioner|           NULL|    -999|
+----------------+---------------+--------+

In [9]:
# because the data is said pensioner than it is possible that the employed is negative but for calculation sake it is better to make it into 0
df_app_cleaned = df_app_cleaned.withColumn('employed', when(df_app_cleaned.employed < 0,0).otherwise(df_app_cleaned.employed))

df_app_cleaned.show()

+-------+-----------+------------+---------------+------------+----------------+--------------------+--------------------+--------------------+-----------------+----------+-------------+---------------+----------+----------+---------------+---------------+---+--------+
|     id|code_gender|flag_own_car|flag_own_realty|cnt_children|amt_income_total|    name_income_type| name_education_type|  name_family_status|name_housing_type|days_birth|days_employed|flag_work_phone|flag_phone|flag_email|occupation_type|cnt_fam_members|age|employed|
+-------+-----------+------------+---------------+------------+----------------+--------------------+--------------------+--------------------+-----------------+----------+-------------+---------------+----------+----------+---------------+---------------+---+--------+
|5008804|          0|           1|              0|           0|        427500.0|             Working|    Higher education|      Civil marriage| Rented apartment|    -12005|        -4542|              1|         0|         0|           NULL|              2| 33|      13|
|5008805|          0|           1|              0|           0|        427500.0|             Working|    Higher education|      Civil marriage| Rented apartment|    -12005|        -4542|              1|         0|         0|           NULL|              2| 33|      13|
|5008806|          0|           1|              0|           0|        112500.0|             Working|Secondary / secon...|             Married|House / apartment|    -21474|        -1134|              0|         0|         0| Security staff|              2| 59|       4|
|5008808|          1|           0|              0|           0|        270000.0|Commercial associate|Secondary / secon...|Single / not married|House / apartment|    -19110|        -3051|              0|         1|         1|    Sales staff|              1| 53|       9|
|5008809|          1|           0|              0|           0|        270000.0|Commercial associate|Secondary / secon...|Single / not married|House / apartment|    -19110|        -3051|              0|         1|         1|    Sales staff|              1| 53|       9|
|5008810|          1|           0|              0|           0|        270000.0|Commercial associate|Secondary / secon...|Single / not married|House / apartment|    -19110|        -3051|              0|         1|         1|    Sales staff|              1| 53|       9|
|5008811|          1|           0|              0|           0|        270000.0|Commercial associate|Secondary / secon...|Single / not married|House / apartment|    -19110|        -3051|              0|         1|         1|    Sales staff|              1| 53|       9|
|5008812|          1|           0|              0|           0|        283500.0|           Pensioner|    Higher education|           Separated|House / apartment|    -22464|       365243|              0|         0|         0|           NULL|              1| 62|       0|
|5008813|          1|           0|              0|           0|        283500.0|           Pensioner|    Higher education|           Separated|House / apartment|    -22464|       365243|              0|         0|         0|           NULL|              1| 62|       0|
|5008814|          1|           0|              0|           0|        283500.0|           Pensioner|    Higher education|           Separated|House / apartment|    -22464|       365243|              0|         0|         0|           NULL|              1| 62|       0|
|5008815|          0|           1|              0|           0|        270000.0|             Working|    Higher education|             Married|House / apartment|    -16872|         -769|              1|         1|         1|    Accountants|              2| 47|       3|
|5112956|          0|           1|              0|           0|        270000.0|             Working|    Higher education|             Married|House / apartment|    -16872|         -769|              1|         1|         1|    Accountants|              2| 47|       3|
|6153651|          0|           1|              0|           0|        270000.0|             Working|    Higher education|             Married|House / apartment|    -16872|         -769|              1|         1|         1|    Accountants|              2| 47|       3|
|5008819|          0|           1|              0|           0|        135000.0|Commercial associate|Secondary / secon...|             Married|House / apartment|    -17778|        -1194|              0|         0|         0|       Laborers|              2| 49|       4|
|5008820|          0|           1|              0|           0|        135000.0|Commercial associate|Secondary / secon...|             Married|House / apartment|    -17778|        -1194|              0|         0|         0|       Laborers|              2| 49|       4|
|5008821|          0|           1|              0|           0|        135000.0|Commercial associate|Secondary / secon...|             Married|House / apartment|    -17778|        -1194|              0|         0|         0|       Laborers|              2| 49|       4|
|5008822|          0|           1|              0|           0|        135000.0|Commercial associate|Secondary / secon...|             Married|House / apartment|    -17778|        -1194|              0|         0|         0|       Laborers|              2| 49|       4|
|5008823|          0|           1|              0|           0|        135000.0|Commercial associate|Secondary / secon...|             Married|House / apartment|    -17778|        -1194|              0|         0|         0|       Laborers|              2| 49|       4|
|5008824|          0|           1|              0|           0|        135000.0|Commercial associate|Secondary / secon...|             Married|House / apartment|    -17778|        -1194|              0|         0|         0|       Laborers|              2| 49|       4|
|5008825|          1|           1|              0|           0|        130500.0|             Working|   Incomplete higher|             Married|House / apartment|    -10669|        -1103|              0|         0|         0|    Accountants|              2| 30|       4|
+-------+-----------+------------+---------------+------------+----------------+--------------------+--------------------+--------------------+-----------------+----------+-------------+---------------+----------+----------+---------------+---------------+---+--------+
only showing top 20 rows

In [12]:
# there is occupation type that is null so we need to fill it up
df_app_cleaned.select('occupation_type').where(isnull(col('occupation_type'))).count() 
# There are no possibility to

134203

In [20]:
# check for occupation type that is null
df_app_cleaned.select(['amt_income_total','name_income_type','occupation_type','employed']).where(isnull(df_app_cleaned.occupation_type)).show()
# there is possibility to use the amt_income_total & name_income_type to classified the occupation_type typically will have the same job
# so need to find the exact number to it

+----------------+----------------+---------------+--------+
|amt_income_total|name_income_type|occupation_type|employed|
+----------------+----------------+---------------+--------+
|        427500.0|         Working|           NULL|      13|
|        427500.0|         Working|           NULL|      13|
|        283500.0|       Pensioner|           NULL|       0|
|        283500.0|       Pensioner|           NULL|       0|
|        283500.0|       Pensioner|           NULL|       0|
|        112500.0|         Working|           NULL|       5|
|        112500.0|         Working|           NULL|       5|
|        112500.0|         Working|           NULL|       5|
|        315000.0|       Pensioner|           NULL|       0|
|        225000.0|         Working|           NULL|       8|
|        225000.0|         Working|           NULL|       8|
|        225000.0|         Working|           NULL|       8|
|        225000.0|         Working|           NULL|       8|
|        157500.0|         Working|           NULL|       3|
|        157500.0|         Working|           NULL|       3|
|        157500.0|         Working|           NULL|       3|
|        157500.0|         Working|           NULL|       3|
|        112500.0|       Pensioner|           NULL|       0|
|        112500.0|       Pensioner|           NULL|       0|
|        112500.0|       Pensioner|           NULL|       0|
+----------------+----------------+---------------+--------+
only showing top 20 rows

In [97]:
# use amt_income total to get the kind of occupation type check first
# the possibility is that the amt_income_total,name_income_type, and employed can fill the occupation_type that is null
df_app_cleaned.select(['amt_income_total','name_income_type','occupation_type','employed']).where((df_app_cleaned.amt_income_total == 225000.0) & (df_app_cleaned.name_income_type == 'Working')).show()
# This data further proven the point that it will be able to be filled up

+----------------+----------------+---------------+--------+
|amt_income_total|name_income_type|occupation_type|employed|
+----------------+----------------+---------------+--------+
|        225000.0|         Working|           NULL|       8|
|        225000.0|         Working|           NULL|       8|
|        225000.0|         Working|           NULL|       8|
|        225000.0|         Working|           NULL|       8|
|        225000.0|         Working|       Managers|       3|
|        225000.0|         Working|       Managers|       3|
|        225000.0|         Working|       Managers|       3|
|        225000.0|         Working|       Managers|       3|
|        225000.0|         Working|       Managers|       3|
|        225000.0|         Working|       Managers|       3|
|        225000.0|         Working|       Managers|       3|
|        225000.0|         Working|       Managers|       3|
|        225000.0|         Working|       Managers|       3|
|        225000.0|         Working|       Managers|       3|
|        225000.0|         Working|       Managers|       3|
|        225000.0|         Working|       Managers|       3|
|        225000.0|         Working|       Managers|       3|
|        225000.0|         Working|       Managers|       3|
|        225000.0|         Working|     Core staff|       5|
|        225000.0|         Working|     Core staff|       5|
+----------------+----------------+---------------+--------+
only showing top 20 rows

In [21]:
# so use the possibility of it and fill the occupation_type that got from the amt_income_total and name_income_type
from pyspark.sql import Window, functions as F

# Define a window specification
window_spec = Window.partitionBy('amt_income_total', 'name_income_type')

# Fill missing values of occupation_type with the most frequent value within each group
filled_occupation_type = F.first('occupation_type', ignorenulls=True).over(window_spec)

# Fill missing values using coalesce
df_app_cleaned = df_app_cleaned.withColumn('filled_occupation_type', filled_occupation_type)
df_app_cleaned = df_app_cleaned.withColumn('occupation_type', F.coalesce('occupation_type', 'filled_occupation_type')).drop('filled_occupation_type')

df_app_cleaned.show()

+-------+-----------+------------+---------------+------------+----------------+----------------+--------------------+--------------------+-----------------+----------+-------------+---------------+----------+----------+---------------+---------------+---+--------+
|     id|code_gender|flag_own_car|flag_own_realty|cnt_children|amt_income_total|name_income_type| name_education_type|  name_family_status|name_housing_type|days_birth|days_employed|flag_work_phone|flag_phone|flag_email|occupation_type|cnt_fam_members|age|employed|
+-------+-----------+------------+---------------+------------+----------------+----------------+--------------------+--------------------+-----------------+----------+-------------+---------------+----------+----------+---------------+---------------+---+--------+
|6093713|          1|           0|              0|           0|         26100.0|       Pensioner|Secondary / secon...|             Married|House / apartment|    -21003|       365243|              0|         0|         0|           NULL|              2| 58|       0|
|6093712|          1|           0|              0|           0|         26100.0|       Pensioner|Secondary / secon...|             Married|House / apartment|    -21003|       365243|              0|         0|         0|           NULL|              2| 58|       0|
|5213635|          1|           0|              0|           0|         27000.0|       Pensioner|Secondary / secon...|               Widow|House / apartment|    -20935|       365243|              0|         0|         0|           NULL|              1| 58|       0|
|5213636|          1|           0|              0|           0|         27000.0|       Pensioner|Secondary / secon...|               Widow|House / apartment|    -20935|       365243|              0|         0|         0|           NULL|              1| 58|       0|
|5369432|          1|           0|              0|           0|         27000.0|       Pensioner|Secondary / secon...|             Married|House / apartment|    -20794|       365243|              0|         0|         0|           NULL|              2| 57|       0|
|5369433|          1|           0|              0|           0|         27000.0|       Pensioner|Secondary / secon...|             Married|House / apartment|    -20794|       365243|              0|         0|         0|           NULL|              2| 57|       0|
|5369434|          1|           0|              0|           0|         27000.0|       Pensioner|Secondary / secon...|             Married|House / apartment|    -20794|       365243|              0|         0|         0|           NULL|              2| 57|       0|
|5369435|          1|           0|              0|           0|         27000.0|       Pensioner|Secondary / secon...|             Married|House / apartment|    -20794|       365243|              0|         0|         0|           NULL|              2| 57|       0|
|5565440|          0|           0|              0|           0|         27000.0|       Pensioner|Secondary / secon...|Single / not married|House / apartment|    -21236|       365243|              0|         1|         0|           NULL|              1| 59|       0|
|5890283|          1|           0|              0|           0|         27000.0|       Pensioner|Secondary / secon...|             Married|House / apartment|    -21033|       365243|              0|         0|         0|           NULL|              2| 58|       0|
|5890285|          1|           0|              0|           0|         27000.0|       Pensioner|Secondary / secon...|             Married|House / apartment|    -21033|       365243|              0|         0|         0|           NULL|              2| 58|       0|
|5890287|          1|           0|              0|           0|         27000.0|       Pensioner|Secondary / secon...|             Married|House / apartment|    -21033|       365243|              0|         0|         0|           NULL|              2| 58|       0|
|7565440|          0|           0|              0|           0|         27000.0|       Pensioner|Secondary / secon...|Single / not married|House / apartment|    -21236|       365243|              0|         1|         0|           NULL|              1| 59|       0|
|5518822|          1|           0|              0|           1|         27000.0|   State servant|Secondary / secon...|             Married|House / apartment|    -10154|         -820|              0|         0|         0|     Core staff|              3| 28|       3|
|5518823|          1|           0|              0|           1|         27000.0|   State servant|Secondary / secon...|             Married|House / apartment|    -10154|         -820|              0|         0|         0|     Core staff|              3| 28|       3|
|6231976|          1|           0|              0|           0|         27000.0|   State servant|Secondary / secon...|             Married|     With parents|    -18707|         -161|              0|         0|         0|       Laborers|              2| 52|       1|
|6231977|          1|           0|              0|           0|         27000.0|   State servant|Secondary / secon...|             Married|     With parents|    -18707|         -161|              0|         0|         0|       Laborers|              2| 52|       1|
|5126174|          1|           0|              0|           0|         27000.0|         Working|    Higher education|      Civil marriage|House / apartment|    -14869|        -5067|              1|         0|         0|       Managers|              2| 41|      14|
|5126175|          1|           0|              0|           0|         27000.0|         Working|    Higher education|      Civil marriage|House / apartment|    -14869|        -5067|              1|         0|         0|       Managers|              2| 41|      14|
|5995345|          1|           0|              0|           0|         27000.0|         Working|    Higher education|      Civil marriage|House / apartment|    -14869|        -5067|              1|         0|         0|       Managers|              2| 41|      14|
+-------+-----------+------------+---------------+------------+----------------+----------------+--------------------+--------------------+-----------------+----------+-------------+---------------+----------+----------+---------------+---------------+---+--------+
only showing top 20 rows

In [22]:
# check for occupation type that is null  and that the amt_income_total and name_income_type same, but still null
df_app_cleaned.select(['amt_income_total','name_income_type','occupation_type','employed']).where(isnull(df_app_cleaned.occupation_type) & (df_app_cleaned.employed != 0)).show()
# There are no exact data to fill the null in that missing value, so the possibility is the same name_income_type with the nearest amt_income_total
# Create a window specification to partition by 'name_income_type' and order by the absolute difference in 'amt_income_total'
window_spec = Window.partitionBy('name_income_type').orderBy(F.abs(F.col('amt_income_total') - F.col('amt_income_total_with_null')))

# Create a temporary column to store the amt_income_total of rows with null occupation_type
df_temp = df_app_cleaned.withColumn('amt_income_total_with_null', F.when(F.col('occupation_type').isNull(), F.col('amt_income_total')))

# Fill missing occupation_type using the nearest amt_income_total
filled_occupation_type = F.first('occupation_type', ignorenulls=True).over(window_spec)
df_temp = df_temp.withColumn('filled_occupation_type', filled_occupation_type)

# Use coalesce to fill the null values
df_app_cleaned = df_temp.withColumn('occupation_type', F.coalesce(F.col('occupation_type'), F.col('filled_occupation_type'))).drop('filled_occupation_type', 'amt_income_total_with_null')

df_app_cleaned.show()

+----------------+--------------------+---------------+--------+
|amt_income_total|    name_income_type|occupation_type|employed|
+----------------+--------------------+---------------+--------+
|         32400.0|             Working|           NULL|       5|
|         32400.0|             Working|           NULL|       5|
|         32400.0|             Working|           NULL|       5|
|         38250.0|       State servant|           NULL|       3|
|         38250.0|       State servant|           NULL|       3|
|         38250.0|       State servant|           NULL|       3|
|         38250.0|       State servant|           NULL|       3|
|         38250.0|       State servant|           NULL|       3|
|         38250.0|       State servant|           NULL|       3|
|         38250.0|       State servant|           NULL|       3|
|         38700.0|             Working|           NULL|      26|
|         41211.0|Commercial associate|           NULL|       6|
|         41211.0|Commercial associate|           NULL|       6|
|         41211.0|Commercial associate|           NULL|       6|
|         41211.0|Commercial associate|           NULL|       6|
|         41211.0|Commercial associate|           NULL|       6|
|         41211.0|Commercial associate|           NULL|       6|
|         41211.0|Commercial associate|           NULL|       6|
|         41211.0|Commercial associate|           NULL|       6|
|         52650.0|             Working|           NULL|       3|
+----------------+--------------------+---------------+--------+
only showing top 20 rows

+-------+-----------+------------+---------------+------------+----------------+--------------------+--------------------+------------------+-----------------+----------+-------------+---------------+----------+----------+---------------+---------------+---+--------+
|     id|code_gender|flag_own_car|flag_own_realty|cnt_children|amt_income_total|    name_income_type| name_education_type|name_family_status|name_housing_type|days_birth|days_employed|flag_work_phone|flag_phone|flag_email|occupation_type|cnt_fam_members|age|employed|
+-------+-----------+------------+---------------+------------+----------------+--------------------+--------------------+------------------+-----------------+----------+-------------+---------------+----------+----------+---------------+---------------+---+--------+
|6014233|          1|           0|              0|           1|         28723.5|Commercial associate|Secondary / secon...|           Married|House / apartment|    -14361|         -138|              1|         0|         0| Cleaning staff|              3| 40|       1|
|6463725|          1|           0|              0|           1|         28723.5|Commercial associate|Secondary / secon...|           Married|House / apartment|    -14361|         -138|              1|         0|         0| Cleaning staff|              3| 40|       1|
|6463726|          1|           0|              0|           1|         28723.5|Commercial associate|Secondary / secon...|           Married|House / apartment|    -14361|         -138|              1|         0|         0| Cleaning staff|              3| 40|       1|
|6463727|          1|           0|              0|           1|         28723.5|Commercial associate|Secondary / secon...|           Married|House / apartment|    -14361|         -138|              1|         0|         0| Cleaning staff|              3| 40|       1|
|6463728|          1|           0|              0|           1|         28723.5|Commercial associate|Secondary / secon...|           Married|House / apartment|    -14361|         -138|              1|         0|         0| Cleaning staff|              3| 40|       1|
|6463729|          1|           0|              0|           1|         28723.5|Commercial associate|Secondary / secon...|           Married|House / apartment|    -14361|         -138|              1|         0|         0| Cleaning staff|              3| 40|       1|
|5088968|          1|           1|              0|           0|         31500.0|Commercial associate|Secondary / secon...|           Married|House / apartment|    -17762|        -7734|              1|         1|         0| Cleaning staff|              2| 49|      22|
|5088969|          1|           1|              0|           0|         31500.0|Commercial associate|Secondary / secon...|           Married|House / apartment|    -17762|        -7734|              1|         1|         0| Cleaning staff|              2| 49|      22|
|5088970|          1|           1|              0|           0|         31500.0|Commercial associate|Secondary / secon...|           Married|House / apartment|    -17762|        -7734|              1|         1|         0| Cleaning staff|              2| 49|      22|
|5088971|          1|           1|              0|           0|         31500.0|Commercial associate|Secondary / secon...|           Married|House / apartment|    -17762|        -7734|              1|         1|         0| Cleaning staff|              2| 49|      22|
|5088972|          1|           1|              0|           0|         31500.0|Commercial associate|Secondary / secon...|           Married|House / apartment|    -17762|        -7734|              1|         1|         0| Cleaning staff|              2| 49|      22|
|5088974|          1|           1|              0|           0|         31500.0|Commercial associate|Secondary / secon...|           Married|House / apartment|    -17762|        -7734|              1|         1|         0| Cleaning staff|              2| 49|      22|
|5088975|          1|           1|              0|           0|         31500.0|Commercial associate|Secondary / secon...|           Married|House / apartment|    -17762|        -7734|              1|         1|         0| Cleaning staff|              2| 49|      22|
|5088976|          1|           1|              0|           0|         31500.0|Commercial associate|Secondary / secon...|           Married|House / apartment|    -17762|        -7734|              1|         1|         0| Cleaning staff|              2| 49|      22|
|5602956|          1|           0|              0|           1|         36000.0|Commercial associate|Secondary / secon...|    Civil marriage|House / apartment|    -14225|        -4059|              1|         0|         0|    Sales staff|              3| 39|      12|
|5602957|          1|           0|              0|           1|         36000.0|Commercial associate|Secondary / secon...|    Civil marriage|House / apartment|    -14225|        -4059|              1|         0|         0|    Sales staff|              3| 39|      12|
|5602958|          1|           0|              0|           1|         36000.0|Commercial associate|Secondary / secon...|    Civil marriage|House / apartment|    -14225|        -4059|              1|         0|         0|    Sales staff|              3| 39|      12|
|5602959|          1|           0|              0|           1|         36000.0|Commercial associate|Secondary / secon...|    Civil marriage|House / apartment|    -14225|        -4059|              1|         0|         0|    Sales staff|              3| 39|      12|
|6026865|          1|           0|              0|           1|         36000.0|Commercial associate|Secondary / secon...|    Civil marriage|House / apartment|    -14225|        -4059|              1|         0|         0|    Sales staff|              3| 39|      12|
|6026866|          1|           0|              0|           1|         36000.0|Commercial associate|Secondary / secon...|    Civil marriage|House / apartment|    -14225|        -4059|              1|         0|         0|    Sales staff|              3| 39|      12|
+-------+-----------+------------+---------------+------------+----------------+--------------------+--------------------+------------------+-----------------+----------+-------------+---------------+----------+----------+---------------+---------------+---+--------+
only showing top 20 rows

In [24]:
# check for occupation type that is null
df_app_cleaned.select(['amt_income_total','name_income_type','occupation_type','employed']).where(isnull(df_app_cleaned.occupation_type)).show()
# Data already cleaned!!

+----------------+----------------+---------------+--------+
|amt_income_total|name_income_type|occupation_type|employed|
+----------------+----------------+---------------+--------+
+----------------+----------------+---------------+--------+

In [29]:
df_credit = spark.read.format('csv').options(header=True,inferSchema=True).load('credit_record.csv')
df_credit.show(30, truncate=50)
df_credit.printSchema()
print('Status \n\
      0 => 1-29 days past due \n\
      1 => 30-59 days past due \n\
      2 => 60-89 days past due \n\
      3 => 90-119 days past due \n\
      4 => 120-149 days past due \n\
      5 => overdue/ bad debts > 150 days \n\
      C => paid successfully \n\
      X => No loan \n\
')
# The schema is already correct with id and months_balance as Integer.

+-------+--------------+------+
|     ID|MONTHS_BALANCE|STATUS|
+-------+--------------+------+
|5001711|             0|     X|
|5001711|            -1|     0|
|5001711|            -2|     0|
|5001711|            -3|     0|
|5001712|             0|     C|
|5001712|            -1|     C|
|5001712|            -2|     C|
|5001712|            -3|     C|
|5001712|            -4|     C|
|5001712|            -5|     C|
|5001712|            -6|     C|
|5001712|            -7|     C|
|5001712|            -8|     C|
|5001712|            -9|     0|
|5001712|           -10|     0|
|5001712|           -11|     0|
|5001712|           -12|     0|
|5001712|           -13|     0|
|5001712|           -14|     0|
|5001712|           -15|     0|
|5001712|           -16|     0|
|5001712|           -17|     0|
|5001712|           -18|     0|
|5001713|             0|     X|
|5001713|            -1|     X|
|5001713|            -2|     X|
|5001713|            -3|     X|
|5001713|            -4|     X|
|5001713|            -5|     X|
|5001713|            -6|     X|
+-------+--------------+------+
only showing top 30 rows

root
 |-- ID: integer (nullable = true)
 |-- MONTHS_BALANCE: integer (nullable = true)
 |-- STATUS: string (nullable = true)

Status
      0 => 1-29 days past due
      1 => 30-59 days past due
      2 => 60-89 days past due
      3 => 90-119 days past due
      4 => 120-149 days past due
      5 => overdue/ bad debts > 150 days
      C => paid successfully
      X => No loan

In [30]:
# Check for null etc.
df_credit.select([count((when(isnan(c) | isnull(c), 1))).alias(c) for c in df_credit.columns]).show()
# No null in data so all data is valid

+---+--------------+------+
| ID|MONTHS_BALANCE|STATUS|
+---+--------------+------+
|  0|             0|     0|
+---+--------------+------+

In [9]:
df_credit = df_credit.withColumn('status_class', 
                                when((df_credit['STATUS'] == '2') | 
                                    (df_credit['STATUS'] == '3') | 
                                    (df_credit['STATUS'] == '4') | 
                                    (df_credit['STATUS'] == '5'), 'Yes')
                                .otherwise(None))
df_credit.show(1000, truncate=50)

+-------+--------------+------+------------+
|     ID|MONTHS_BALANCE|STATUS|status_class|
+-------+--------------+------+------------+
|5001711|             0|     X|        NULL|
|5001711|            -1|     0|        NULL|
|5001711|            -2|     0|        NULL|
|5001711|            -3|     0|        NULL|
|5001712|             0|     C|        NULL|
|5001712|            -1|     C|        NULL|
|5001712|            -2|     C|        NULL|
|5001712|            -3|     C|        NULL|
|5001712|            -4|     C|        NULL|
|5001712|            -5|     C|        NULL|
|5001712|            -6|     C|        NULL|
|5001712|            -7|     C|        NULL|
|5001712|            -8|     C|        NULL|
|5001712|            -9|     0|        NULL|
|5001712|           -10|     0|        NULL|
|5001712|           -11|     0|        NULL|
|5001712|           -12|     0|        NULL|
|5001712|           -13|     0|        NULL|
|5001712|           -14|     0|        NULL|
|5001712|           -15|     0|        NULL|
|5001712|           -16|     0|        NULL|
|5001712|           -17|     0|        NULL|
|5001712|           -18|     0|        NULL|
|5001713|             0|     X|        NULL|
|5001713|            -1|     X|        NULL|
|5001713|            -2|     X|        NULL|
|5001713|            -3|     X|        NULL|
|5001713|            -4|     X|        NULL|
|5001713|            -5|     X|        NULL|
|5001713|            -6|     X|        NULL|
|5001713|            -7|     X|        NULL|
|5001713|            -8|     X|        NULL|
|5001713|            -9|     X|        NULL|
|5001713|           -10|     X|        NULL|
|5001713|           -11|     X|        NULL|
|5001713|           -12|     X|        NULL|
|5001713|           -13|     X|        NULL|
|5001713|           -14|     X|        NULL|
|5001713|           -15|     X|        NULL|
|5001713|           -16|     X|        NULL|
|5001713|           -17|     X|        NULL|
|5001713|           -18|     X|        NULL|
|5001713|           -19|     X|        NULL|
|5001713|           -20|     X|        NULL|
|5001713|           -21|     X|        NULL|
|5001714|             0|     X|        NULL|
|5001714|            -1|     X|        NULL|
|5001714|            -2|     X|        NULL|
|5001714|            -3|     X|        NULL|
|5001714|            -4|     X|        NULL|
|5001714|            -5|     X|        NULL|
|5001714|            -6|     X|        NULL|
|5001714|            -7|     X|        NULL|
|5001714|            -8|     X|        NULL|
|5001714|            -9|     X|        NULL|
|5001714|           -10|     X|        NULL|
|5001714|           -11|     X|        NULL|
|5001714|           -12|     X|        NULL|
|5001714|           -13|     X|        NULL|
|5001714|           -14|     X|        NULL|
|5001715|             0|     X|        NULL|
|5001715|            -1|     X|        NULL|
|5001715|            -2|     X|        NULL|
|5001715|            -3|     X|        NULL|
|5001715|            -4|     X|        NULL|
|5001715|            -5|     X|        NULL|
|5001715|            -6|     X|        NULL|
|5001715|            -7|     X|        NULL|
|5001715|            -8|     X|        NULL|
|5001715|            -9|     X|        NULL|
|5001715|           -10|     X|        NULL|
|5001715|           -11|     X|        NULL|
|5001715|           -12|     X|        NULL|
|5001715|           -13|     X|        NULL|
|5001715|           -14|     X|        NULL|
|5001715|           -15|     X|        NULL|
|5001715|           -16|     X|        NULL|
|5001715|           -17|     X|        NULL|
|5001715|           -18|     X|        NULL|
|5001715|           -19|     X|        NULL|
|5001715|           -20|     X|        NULL|
|5001715|           -21|     X|        NULL|
|5001715|           -22|     X|        NULL|
|5001715|           -23|     X|        NULL|
|5001715|           -24|     X|        NULL|
|5001715|           -25|     X|        NULL|
|5001715|           -26|     X|        NULL|
|5001715|           -27|     X|        NULL|
|5001715|           -28|     X|        NULL|
|5001715|           -29|     X|        NULL|
|5001715|           -30|     X|        NULL|
|5001715|           -31|     X|        NULL|
|5001715|           -32|     X|        NULL|
|5001715|           -33|     X|        NULL|
|5001715|           -34|     X|        NULL|
|5001715|           -35|     X|        NULL|
|5001715|           -36|     X|        NULL|
|5001715|           -37|     X|        NULL|
|5001715|           -38|     X|        NULL|
|5001715|           -39|     X|        NULL|
|5001715|           -40|     X|        NULL|
|5001715|           -41|     X|        NULL|
|5001715|           -42|     X|        NULL|
|5001715|           -43|     X|        NULL|
|5001715|           -44|     X|        NULL|
|5001715|           -45|     X|        NULL|
|5001715|           -46|     X|        NULL|
|5001715|           -47|     X|        NULL|
|5001715|           -48|     X|        NULL|
|5001715|           -49|     X|        NULL|
|5001715|           -50|     X|        NULL|
|5001715|           -51|     X|        NULL|
|5001715|           -52|     X|        NULL|
|5001715|           -53|     X|        NULL|
|5001715|           -54|     X|        NULL|
|5001715|           -55|     X|        NULL|
|5001715|           -56|     X|        NULL|
|5001715|           -57|     X|        NULL|
|5001715|           -58|     X|        NULL|
|5001715|           -59|     X|        NULL|
|5001717|             0|     C|        NULL|
|5001717|            -1|     C|        NULL|
|5001717|            -2|     C|        NULL|
|5001717|            -3|     C|        NULL|
|5001717|            -4|     C|        NULL|
|5001717|            -5|     0|        NULL|
|5001717|            -6|     0|        NULL|
|5001717|            -7|     0|        NULL|
|5001717|            -8|     0|        NULL|
|5001717|            -9|     0|        NULL|
|5001717|           -10|     0|        NULL|
|5001717|           -11|     0|        NULL|
|5001717|           -12|     0|        NULL|
|5001717|           -13|     0|        NULL|
|5001717|           -14|     0|        NULL|
|5001717|           -15|     0|        NULL|
|5001717|           -16|     0|        NULL|
|5001717|           -17|     0|        NULL|
|5001717|           -18|     0|        NULL|
|5001717|           -19|     0|        NULL|
|5001717|           -20|     0|        NULL|
|5001717|           -21|     0|        NULL|
|5001718|             0|     C|        NULL|
|5001718|            -1|     C|        NULL|
|5001718|            -2|     C|        NULL|
|5001718|            -3|     0|        NULL|
|5001718|            -4|     0|        NULL|
|5001718|            -5|     0|        NULL|
|5001718|            -6|     0|        NULL|
|5001718|            -7|     0|        NULL|
|5001718|            -8|     1|        NULL|
|5001718|            -9|     X|        NULL|
|5001718|           -10|     0|        NULL|
|5001718|           -11|     X|        NULL|
|5001718|           -12|     1|        NULL|
|5001718|           -13|     X|        NULL|
|5001718|           -14|     0|        NULL|
|5001718|           -15|     X|        NULL|
|5001718|           -16|     X|        NULL|
|5001718|           -17|     X|        NULL|
|5001718|           -18|     0|        NULL|
|5001718|           -19|     0|        NULL|
|5001718|           -20|     0|        NULL|
|5001718|           -21|     X|        NULL|
|5001718|           -22|     0|        NULL|
|5001718|           -23|     0|        NULL|
|5001718|           -24|     0|        NULL|
|5001718|           -25|     0|        NULL|
|5001718|           -26|     0|        NULL|
|5001718|           -27|     0|        NULL|
|5001718|           -28|     X|        NULL|
|5001718|           -29|     0|        NULL|
|5001718|           -30|     X|        NULL|
|5001718|           -31|     0|        NULL|
|5001718|           -32|     0|        NULL|
|5001718|           -33|     0|        NULL|
|5001718|           -34|     0|        NULL|
|5001718|           -35|     0|        NULL|
|5001718|           -36|     0|        NULL|
|5001718|           -37|     0|        NULL|
|5001718|           -38|     X|        NULL|
|5001719|             0|     C|        NULL|
|5001719|            -1|     C|        NULL|
|5001719|            -2|     C|        NULL|
|5001719|            -3|     C|        NULL|
|5001719|            -4|     C|        NULL|
|5001719|            -5|     C|        NULL|
|5001719|            -6|     C|        NULL|
|5001719|            -7|     C|        NULL|
|5001719|            -8|     C|        NULL|
|5001719|            -9|     C|        NULL|
|5001719|           -10|     C|        NULL|
|5001719|           -11|     C|        NULL|
|5001719|           -12|     C|        NULL|
|5001719|           -13|     C|        NULL|
|5001719|           -14|     C|        NULL|
|5001719|           -15|     C|        NULL|
|5001719|           -16|     C|        NULL|
|5001719|           -17|     C|        NULL|
|5001719|           -18|     C|        NULL|
|5001719|           -19|     C|        NULL|
|5001719|           -20|     C|        NULL|
|5001719|           -21|     C|        NULL|
|5001719|           -22|     C|        NULL|
|5001719|           -23|     C|        NULL|
|5001719|           -24|     C|        NULL|
|5001719|           -25|     C|        NULL|
|5001719|           -26|     C|        NULL|
|5001719|           -27|     C|        NULL|
|5001719|           -28|     C|        NULL|
|5001719|           -29|     C|        NULL|
|5001719|           -30|     C|        NULL|
|5001719|           -31|     C|        NULL|
|5001719|           -32|     C|        NULL|
|5001719|           -33|     C|        NULL|
|5001719|           -34|     C|        NULL|
|5001719|           -35|     C|        NULL|
|5001719|           -36|     C|        NULL|
|5001719|           -37|     C|        NULL|
|5001719|           -38|     C|        NULL|
|5001719|           -39|     C|        NULL|
|5001719|           -40|     C|        NULL|
|5001719|           -41|     0|        NULL|
|5001719|           -42|     0|        NULL|
|5001720|             0|     1|        NULL|
|5001720|            -1|     0|        NULL|
|5001720|            -2|     0|        NULL|
|5001720|            -3|     1|        NULL|
|5001720|            -4|     1|        NULL|
|5001720|            -5|     0|        NULL|
|5001720|            -6|     1|        NULL|
|5001720|            -7|     1|        NULL|
|5001720|            -8|     0|        NULL|
|5001720|            -9|     0|        NULL|
|5001720|           -10|     0|        NULL|
|5001720|           -11|     0|        NULL|
|5001720|           -12|     0|        NULL|
|5001720|           -13|     1|        NULL|
|5001720|           -14|     0|        NULL|
|5001720|           -15|     1|        NULL|
|5001720|           -16|     0|        NULL|
|5001720|           -17|     0|        NULL|
|5001720|           -18|     0|        NULL|
|5001720|           -19|     0|        NULL|
|5001720|           -20|     0|        NULL|
|5001720|           -21|     0|        NULL|
|5001720|           -22|     0|        NULL|
|5001720|           -23|     0|        NULL|
|5001720|           -24|     0|        NULL|
|5001720|           -25|     0|        NULL|
|5001720|           -26|     0|        NULL|
|5001720|           -27|     0|        NULL|
|5001720|           -28|     0|        NULL|
|5001720|           -29|     0|        NULL|
|5001720|           -30|     0|        NULL|
|5001720|           -31|     0|        NULL|
|5001720|           -32|     0|        NULL|
|5001720|           -33|     0|        NULL|
|5001720|           -34|     0|        NULL|
|5001720|           -35|     0|        NULL|
|5001723|             0|     X|        NULL|
|5001723|            -1|     X|        NULL|
|5001723|            -2|     X|        NULL|
|5001723|            -3|     X|        NULL|
|5001723|            -4|     X|        NULL|
|5001723|            -5|     X|        NULL|
|5001723|            -6|     X|        NULL|
|5001723|            -7|     X|        NULL|
|5001723|            -8|     X|        NULL|
|5001723|            -9|     X|        NULL|
|5001723|           -10|     X|        NULL|
|5001723|           -11|     X|        NULL|
|5001723|           -12|     X|        NULL|
|5001723|           -13|     X|        NULL|
|5001723|           -14|     X|        NULL|
|5001723|           -15|     X|        NULL|
|5001723|           -16|     X|        NULL|
|5001723|           -17|     X|        NULL|
|5001723|           -18|     X|        NULL|
|5001723|           -19|     X|        NULL|
|5001723|           -20|     X|        NULL|
|5001723|           -21|     X|        NULL|
|5001723|           -22|     0|        NULL|
|5001723|           -23|     0|        NULL|
|5001723|           -24|     0|        NULL|
|5001723|           -25|     0|        NULL|
|5001723|           -26|     0|        NULL|
|5001723|           -27|     0|        NULL|
|5001723|           -28|     0|        NULL|
|5001723|           -29|     0|        NULL|
|5001723|           -30|     X|        NULL|
|5001724|             0|     C|        NULL|
|5001724|            -1|     C|        NULL|
|5001724|            -2|     C|        NULL|
|5001724|            -3|     C|        NULL|
|5001724|            -4|     C|        NULL|
|5001724|            -5|     C|        NULL|
|5001724|            -6|     C|        NULL|
|5001724|            -7|     C|        NULL|
|5001724|            -8|     C|        NULL|
|5001724|            -9|     C|        NULL|
|5001724|           -10|     C|        NULL|
|5001724|           -11|     C|        NULL|
|5001724|           -12|     C|        NULL|
|5001724|           -13|     C|        NULL|
|5001724|           -14|     C|        NULL|
|5001724|           -15|     C|        NULL|
|5001724|           -16|     C|        NULL|
|5001724|           -17|     C|        NULL|
|5001724|           -18|     C|        NULL|
|5001724|           -19|     C|        NULL|
|5001724|           -20|     C|        NULL|
|5001724|           -21|     C|        NULL|
|5001724|           -22|     X|        NULL|
|5001724|           -23|     X|        NULL|
|5001724|           -24|     X|        NULL|
|5001724|           -25|     X|        NULL|
|5001724|           -26|     X|        NULL|
|5001724|           -27|     X|        NULL|
|5001724|           -28|     X|        NULL|
|5001724|           -29|     X|        NULL|
|5001724|           -30|     X|        NULL|
|5001725|             0|     0|        NULL|
|5001725|            -1|     0|        NULL|
|5001725|            -2|     0|        NULL|
|5001725|            -3|     0|        NULL|
|5001725|            -4|     0|        NULL|
|5001725|            -5|     0|        NULL|
|5001725|            -6|     0|        NULL|
|5001725|            -7|     X|        NULL|
|5001726|             0|     C|        NULL|
|5001726|            -1|     C|        NULL|
|5001726|            -2|     C|        NULL|
|5001726|            -3|     C|        NULL|
|5001726|            -4|     C|        NULL|
|5001726|            -5|     C|        NULL|
|5001726|            -6|     C|        NULL|
|5001726|            -7|     C|        NULL|
|5001726|            -8|     C|        NULL|
|5001726|            -9|     C|        NULL|
|5001726|           -10|     C|        NULL|
|5001726|           -11|     C|        NULL|
|5001726|           -12|     C|        NULL|
|5001726|           -13|     C|        NULL|
|5001726|           -14|     C|        NULL|
|5001726|           -15|     C|        NULL|
|5001726|           -16|     C|        NULL|
|5001726|           -17|     C|        NULL|
|5001726|           -18|     C|        NULL|
|5001726|           -19|     C|        NULL|
|5001726|           -20|     C|        NULL|
|5001726|           -21|     C|        NULL|
|5001726|           -22|     C|        NULL|
|5001726|           -23|     C|        NULL|
|5001726|           -24|     C|        NULL|
|5001726|           -25|     C|        NULL|
|5001726|           -26|     C|        NULL|
|5001726|           -27|     C|        NULL|
|5001726|           -28|     C|        NULL|
|5001726|           -29|     C|        NULL|
|5001726|           -30|     C|        NULL|
|5001726|           -31|     C|        NULL|
|5001726|           -32|     C|        NULL|
|5001726|           -33|     0|        NULL|
|5001726|           -34|     0|        NULL|
|5001726|           -35|     0|        NULL|
|5001726|           -36|     0|        NULL|
|5001726|           -37|     0|        NULL|
|5001726|           -38|     0|        NULL|
|5001728|             0|     0|        NULL|
|5001729|             0|     C|        NULL|
|5001729|            -1|     0|        NULL|
|5001729|            -2|     0|        NULL|
|5001729|            -3|     0|        NULL|
|5001729|            -4|     0|        NULL|
|5001729|            -5|     0|        NULL|
|5001729|            -6|     0|        NULL|
|5001730|             0|     C|        NULL|
|5001730|            -1|     C|        NULL|
|5001730|            -2|     C|        NULL|
|5001730|            -3|     C|        NULL|
|5001730|            -4|     C|        NULL|
|5001730|            -5|     C|        NULL|
|5001730|            -6|     C|        NULL|
|5001730|            -7|     C|        NULL|
|5001730|            -8|     C|        NULL|
|5001730|            -9|     C|        NULL|
|5001730|           -10|     C|        NULL|
|5001730|           -11|     C|        NULL|
|5001730|           -12|     C|        NULL|
|5001730|           -13|     C|        NULL|
|5001730|           -14|     C|        NULL|
|5001730|           -15|     C|        NULL|
|5001730|           -16|     C|        NULL|
|5001730|           -17|     C|        NULL|
|5001730|           -18|     C|        NULL|
|5001730|           -19|     C|        NULL|
|5001730|           -20|     C|        NULL|
|5001730|           -21|     C|        NULL|
|5001730|           -22|     C|        NULL|
|5001730|           -23|     C|        NULL|
|5001730|           -24|     C|        NULL|
|5001730|           -25|     C|        NULL|
|5001730|           -26|     C|        NULL|
|5001730|           -27|     C|        NULL|
|5001730|           -28|     C|        NULL|
|5001730|           -29|     C|        NULL|
|5001730|           -30|     C|        NULL|
|5001730|           -31|     C|        NULL|
|5001730|           -32|     C|        NULL|
|5001730|           -33|     C|        NULL|
|5001730|           -34|     C|        NULL|
|5001730|           -35|     C|        NULL|
|5001730|           -36|     C|        NULL|
|5001730|           -37|     C|        NULL|
|5001730|           -38|     C|        NULL|
|5001730|           -39|     C|        NULL|
|5001730|           -40|     C|        NULL|
|5001730|           -41|     C|        NULL|
|5001730|           -42|     C|        NULL|
|5001730|           -43|     C|        NULL|
|5001730|           -44|     C|        NULL|
|5001730|           -45|     C|        NULL|
|5001730|           -46|     C|        NULL|
|5001730|           -47|     C|        NULL|
|5001730|           -48|     C|        NULL|
|5001730|           -49|     C|        NULL|
|5001730|           -50|     C|        NULL|
|5001730|           -51|     C|        NULL|
|5001730|           -52|     C|        NULL|
|5001730|           -53|     C|        NULL|
|5001730|           -54|     C|        NULL|
|5001730|           -55|     C|        NULL|
|5001730|           -56|     0|        NULL|
|5001730|           -57|     0|        NULL|
|5001730|           -58|     0|        NULL|
|5001730|           -59|     0|        NULL|
|5001730|           -60|     0|        NULL|
|5001731|             0|     X|        NULL|
|5001731|            -1|     X|        NULL|
|5001731|            -2|     X|        NULL|

In [10]:
count_df = df_credit.groupBy('ID').agg(count(when(col('status_class') == 'Yes', True)).alias('status_class_count'))
count_df = count_df.withColumn('status_class', when(col('status_class_count') > 0, 'Yes').otherwise('No'))
count_df = count_df.select('ID', 'status_class')
data_join = data_join.join(count_df, on='ID', how='inner')
data_join = data_join.withColumn('target', when(col('status_class') == 'Yes', 1).otherwise(0))

In [11]:
#merged_data.filter(merged_data['target'] == 1).show()

data_join.show(20)

+-------+-----------+------------+---------------+------------+----------------+--------------------+--------------------+--------------------+-----------------+----------+-------------+----------+---------------+----------+----------+---------------+---------------+-----------+------------+------+
|     ID|CODE_GENDER|FLAG_OWN_CAR|FLAG_OWN_REALTY|CNT_CHILDREN|AMT_INCOME_TOTAL|    NAME_INCOME_TYPE| NAME_EDUCATION_TYPE|  NAME_FAMILY_STATUS|NAME_HOUSING_TYPE|DAYS_BIRTH|DAYS_EMPLOYED|FLAG_MOBIL|FLAG_WORK_PHONE|FLAG_PHONE|FLAG_EMAIL|OCCUPATION_TYPE|CNT_FAM_MEMBERS|begin_month|status_class|target|
+-------+-----------+------------+---------------+------------+----------------+--------------------+--------------------+--------------------+-----------------+----------+-------------+----------+---------------+----------+----------+---------------+---------------+-----------+------------+------+
|5008804|          M|           Y|              Y|           0|        427500.0|             Working|    Higher education|      Civil marriage| Rented apartment|    -12005|        -4542|         1|              1|         0|         0|           NULL|            2.0|        -15|          No|     0|
|5008805|          M|           Y|              Y|           0|        427500.0|             Working|    Higher education|      Civil marriage| Rented apartment|    -12005|        -4542|         1|              1|         0|         0|           NULL|            2.0|        -14|          No|     0|
|5008806|          M|           Y|              Y|           0|        112500.0|             Working|Secondary / secon...|             Married|House / apartment|    -21474|        -1134|         1|              0|         0|         0| Security staff|            2.0|        -29|          No|     0|
|5008808|          F|           N|              Y|           0|        270000.0|Commercial associate|Secondary / secon...|Single / not married|House / apartment|    -19110|        -3051|         1|              0|         1|         1|    Sales staff|            1.0|         -4|          No|     0|
|5008809|          F|           N|              Y|           0|        270000.0|Commercial associate|Secondary / secon...|Single / not married|House / apartment|    -19110|        -3051|         1|              0|         1|         1|    Sales staff|            1.0|        -26|          No|     0|
|5008810|          F|           N|              Y|           0|        270000.0|Commercial associate|Secondary / secon...|Single / not married|House / apartment|    -19110|        -3051|         1|              0|         1|         1|    Sales staff|            1.0|        -26|          No|     0|
|5008811|          F|           N|              Y|           0|        270000.0|Commercial associate|Secondary / secon...|Single / not married|House / apartment|    -19110|        -3051|         1|              0|         1|         1|    Sales staff|            1.0|        -38|          No|     0|
|5008812|          F|           N|              Y|           0|        283500.0|           Pensioner|    Higher education|           Separated|House / apartment|    -22464|       365243|         1|              0|         0|         0|           NULL|            1.0|        -20|          No|     0|
|5008813|          F|           N|              Y|           0|        283500.0|           Pensioner|    Higher education|           Separated|House / apartment|    -22464|       365243|         1|              0|         0|         0|           NULL|            1.0|        -16|          No|     0|
|5008814|          F|           N|              Y|           0|        283500.0|           Pensioner|    Higher education|           Separated|House / apartment|    -22464|       365243|         1|              0|         0|         0|           NULL|            1.0|        -17|          No|     0|
|5008815|          M|           Y|              Y|           0|        270000.0|             Working|    Higher education|             Married|House / apartment|    -16872|         -769|         1|              1|         1|         1|    Accountants|            2.0|         -5|          No|     0|
|5112956|          M|           Y|              Y|           0|        270000.0|             Working|    Higher education|             Married|House / apartment|    -16872|         -769|         1|              1|         1|         1|    Accountants|            2.0|        -42|          No|     0|
|5008819|          M|           Y|              Y|           0|        135000.0|Commercial associate|Secondary / secon...|             Married|House / apartment|    -17778|        -1194|         1|              0|         0|         0|       Laborers|            2.0|        -17|          No|     0|
|5008820|          M|           Y|              Y|           0|        135000.0|Commercial associate|Secondary / secon...|             Married|House / apartment|    -17778|        -1194|         1|              0|         0|         0|       Laborers|            2.0|        -16|          No|     0|
|5008821|          M|           Y|              Y|           0|        135000.0|Commercial associate|Secondary / secon...|             Married|House / apartment|    -17778|        -1194|         1|              0|         0|         0|       Laborers|            2.0|         -8|          No|     0|
|5008822|          M|           Y|              Y|           0|        135000.0|Commercial associate|Secondary / secon...|             Married|House / apartment|    -17778|        -1194|         1|              0|         0|         0|       Laborers|            2.0|        -22|          No|     0|
|5008823|          M|           Y|              Y|           0|        135000.0|Commercial associate|Secondary / secon...|             Married|House / apartment|    -17778|        -1194|         1|              0|         0|         0|       Laborers|            2.0|         -7|          No|     0|
|5008824|          M|           Y|              Y|           0|        135000.0|Commercial associate|Secondary / secon...|             Married|House / apartment|    -17778|        -1194|         1|              0|         0|         0|       Laborers|            2.0|         -3|          No|     0|
|5008825|          F|           Y|              N|           0|        130500.0|             Working|   Incomplete higher|             Married|House / apartment|    -10669|        -1103|         1|              0|         0|         0|    Accountants|            2.0|        -25|          No|     0|
|5008826|          F|           Y|              N|           0|        130500.0|             Working|   Incomplete higher|             Married|House / apartment|    -10669|        -1103|         1|              0|         0|         0|    Accountants|            2.0|        -30|          No|     0|
+-------+-----------+------------+---------------+------------+----------------+--------------------+--------------------+--------------------+-----------------+----------+-------------+----------+---------------+----------+----------+---------------+---------------+-----------+------------+------+
only showing top 20 rows

In [12]:
status_class_counts = count_df.groupBy('status_class').count()

status_class_counts.show()

+------------+-----+
|status_class|count|
+------------+-----+
|          No|45318|
|         Yes|  667|
+------------+-----+

In [13]:
total_count = count_df.count()
status_class_proportion = status_class_counts.withColumn('proportion', col('count') / lit(total_count))
status_class_proportion.show()

+------------+-----+--------------------+
|status_class|count|          proportion|
+------------+-----+--------------------+
|          No|45318|  0.9854952701968033|
|         Yes|  667|0.014504729803196694|
+------------+-----+--------------------+

In [14]:
data_join = data_join.replace('NULL', None)
data_join= data_join.dropna()
data_join.count()

25134

In [15]:
columns = data_join.columns
# Membuat DataFrame dari daftar kolom
information = spark.createDataFrame([(col,) for col in columns], ["variable"])

# Menambahkan kolom 'IV' dengan nilai None
information = information.withColumn('IV', lit(None).cast(StringType()))

# Daftar kolom yang akan dihapus
namelist = ['FLAG_MOBIL', 'begin_month', 'dep_value', 'target', 'ID']

# Menghapus kolom-kolom yang ada dalam namelist dari information
for name in namelist:
    information = information.filter(information['variable'] != name)

# Tampilkan hasil
information.show()

+-------------------+----+
|           variable|  IV|
+-------------------+----+
|        CODE_GENDER|NULL|
|       FLAG_OWN_CAR|NULL|
|    FLAG_OWN_REALTY|NULL|
|       CNT_CHILDREN|NULL|
|   AMT_INCOME_TOTAL|NULL|
|   NAME_INCOME_TYPE|NULL|
|NAME_EDUCATION_TYPE|NULL|
| NAME_FAMILY_STATUS|NULL|
|  NAME_HOUSING_TYPE|NULL|
|         DAYS_BIRTH|NULL|
|      DAYS_EMPLOYED|NULL|
|    FLAG_WORK_PHONE|NULL|
|         FLAG_PHONE|NULL|
|         FLAG_EMAIL|NULL|
|    OCCUPATION_TYPE|NULL|
|    CNT_FAM_MEMBERS|NULL|
|       status_class|NULL|
+-------------------+----+

In [16]:
def calc_information_value(df: DataFrame, feature: str, target: str, pr: bool = False):
    # Mengisi nilai NULL
    df = df.withColumn(feature, when(col(feature).isNull(), "NULL").otherwise(col(feature)))
    
    # Menghitung jumlah total, good, dan bad untuk setiap nilai feature
    data = df.groupBy(feature).agg(
        count("*").alias("All"),
        count(when(col(target) == 0, 1)).alias("Good"),
        count(when(col(target) == 1, 1)).alias("Bad")
    )
    
    # Menghitung Share, Bad Rate, Distribution Good, dan Distribution Bad
    total_count = df.count()
    total_bad = df.filter(col(target) == 1).count()
    total_good = total_count - total_bad
    
    data = data.withColumn("Share", col("All") / total_count)
    data = data.withColumn("Bad Rate", col("Bad") / col("All"))
    data = data.withColumn("Distribution Good", (col("All") - col("Bad")) / total_good)
    data = data.withColumn("Distribution Bad", col("Bad") / total_bad)
    
    # Menghitung WoE
    data = data.withColumn("WoE", log(col("Distribution Good") / col("Distribution Bad")))
    
    # Mengganti nilai inf dan -inf dengan 0
    data = data.withColumn("WoE", when(col("WoE") == float("inf"), 0).otherwise(col("WoE")))
    data = data.withColumn("WoE", when(col("WoE") == float("-inf"), 0).otherwise(col("WoE")))
    
    # Menghitung information_value
    data = data.withColumn("information_value", col("WoE") * (col("Distribution Good") - col("Distribution Bad")))
    
    # Mengurutkan data berdasarkan feature dan value
    data = data.orderBy(feature)
    
    # Menghitung total information_value
    information_value = data.agg(sum("information_value")).collect()[0][0]
    
    if pr:
        data.show()
        print('information_value = ', information_value)
    
    print(f"This variable's information_value is: {information_value}")
    data.groupBy(feature).count().show()
    
    return information_value, data

In [17]:
def convert_dummy(df: DataFrame, feature: str, rank: int = 0) -> DataFrame:
    # Menghitung jumlah kemunculan setiap nilai pada feature
    mode = df.groupBy(feature).count().orderBy(col('count').desc()).collect()[rank][0]
    
    # Membuat dummy variables menggunakan pivot
    dummies = df.groupBy("ID").pivot(feature).agg(lit(1)).na.fill(0)
    
    # Mengganti nama kolom dummy
    for col_name in dummies.columns:
        if col_name != "ID":
            new_name = f"{feature}_{col_name}"
            dummies = dummies.withColumnRenamed(col_name, new_name)
    
    # Menghapus kolom yang paling sering muncul
    dummies = dummies.drop(f"{feature}_{mode}")
    
    # Menghapus kolom asli dari DataFrame
    df = df.drop(feature)
    
    # Menggabungkan kembali dummies dengan DataFrame asli
    df = df.join(dummies, on="ID", how="left")
    
    return df

In [18]:
def get_category(df, col, binsnum, labels, qcut=False):
    # Menyalin DataFrame asli
    localdf = df.select(col).toPandas()

    if qcut:
        # Quantile cut
        localdf['bins'] = pd.qcut(localdf[col], q=binsnum, labels=labels)
    else:
        # Equal-length cut
        localdf['bins'] = pd.cut(localdf[col], bins=binsnum, labels=labels)
    
    # Membuat DataFrame dari hasil binning
    bins_df = spark.createDataFrame(localdf[['bins']])
    
    # Menggabungkan hasil binning ke DataFrame asli
    name = f'gp_{col}'
    bins_df = bins_df.withColumnRenamed('bins', name)
    df = df.withColumn(name, bins_df[name].cast('string'))
    
    return df

In [19]:
# Mengganti nilai kolom CODE_GENDER
data_join = data_join.withColumn('CODE_GENDER', when(col('CODE_GENDER') == 'F', 0).when(col('CODE_GENDER') == 'M', 1))
# print(data_join['CODE_GENDER'].value_counts())
# Menghitung value_counts
gender_counts = data_join.groupBy('CODE_GENDER').count()
gender_counts.show()
# Menghitung information value
iv, data = calc_information_value(data_join, 'CODE_GENDER', 'target')
information = information.withColumn('IV', when(col('variable') == 'CODE_GENDER', lit(iv).cast(StringType())).otherwise(col('IV')))
data.show()

+-----------+-----+
|CODE_GENDER|count|
+-----------+-----+
|          1| 9504|
|          0|15630|
+-----------+-----+

24/05/21 00:18:31 WARN GarbageCollectionMetrics: To enable non-built-in garbage collector(s) List(G1 Concurrent GC), users should configure it(them) to spark.eventLog.gcMetrics.youngGenerationGarbageCollectors or spark.eventLog.gcMetrics.oldGenerationGarbageCollectors

This variable's information_value is: 0.02520350452745081

+-----------+-----+
|CODE_GENDER|count|
+-----------+-----+
|          0|    1|
|          1|    1|
+-----------+-----+

+-----------+-----+-----+---+-------------------+--------------------+-------------------+------------------+-------------------+--------------------+
|CODE_GENDER|  All| Good|Bad|              Share|            Bad Rate|  Distribution Good|  Distribution Bad|                WoE|   information_value|
+-----------+-----+-----+---+-------------------+--------------------+-------------------+------------------+-------------------+--------------------+
|          0|15630|15400|230| 0.6218667939842445| 0.01471529110684581|  0.623179022337326|0.5450236966824644|0.13400455891611937|0.010473169941325399|
|          1| 9504| 9312|192|0.37813320601575556|0.020202020202020204|0.37682097766267403|0.4549763033175355|-0.1884751226189682|0.014730334586125412|
+-----------+-----+-----+---+-------------------+--------------------+-------------------+------------------+-------------------+--------------------+